In [1]:
import folium

In [2]:
# 서울 지도 만들기
seoul_map = folium.Map(location=[37.55,126.98], zoom_start=12)

In [4]:
seoul_map.save('./seoul.html')

In [5]:
seoul_map2 = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain',  zoom_start=12)
seoul_map3 = folium.Map(location=[37.55,126.98], tiles='Stamen Toner',  zoom_start=12)

In [6]:
seoul_map2.save('./seoul2.html')
seoul_map3.save('./seoul3.html')

In [9]:
# 지도에 마커표시
import pandas as pd
file_path = '/content/drive/MyDrive/Colab Notebooks/data/시각화/서울지역 대학교 위치.xlsx'
df = pd.read_excel(file_path)
df.rename(columns={'Unnamed: 0':'학교명'}, inplace=True)

In [11]:
df = df.set_index(['학교명'])
df.head()

                     위도          경도
학교명
KAIST 서울캠퍼스   37.592573  127.046737
KC대학교         37.548345  126.854797
가톨릭대학교(성신교정)  37.585922  127.004328
가톨릭대학교(성의교정)  37.499623  127.006065
감리교신학대학교      37.567645  126.961610

In [12]:
seoul_map = folium.Map(location=[37.55,126.98], zoom_start=12)

In [13]:
# 대학교 위치 정보를 Marker로 표시
for name, lat, lng in zip(df.index,  df['위도'], df['경도']):
  folium.Marker( (lat, lng), popup = name ).add_to(seoul_map)

seoul_map.save('./seoul_colleges.html')

In [14]:
from pandas.io.parsers.readers import fill
# Marker함수 대신에 CircleMarker() 함수 사용
seoul_map = folium.Map(location=[37.55,126.98], zoom_start=12)
for name, lat, lng in zip(df.index,  df['위도'], df['경도']):
  folium.CircleMarker( (lat, lng), 
                      radius = 10,
                      color = 'brown',
                      fill = True,
                      fill_color = 'coral',
                      fill_opacity = 0.7,
                      popup = name ).add_to(seoul_map)

seoul_map.save('./seoul_colleges2.html')

In [15]:
# 지도 영역에  단계구분도 표시
import json
file_path = '/content/drive/MyDrive/Colab Notebooks/data/시각화/경기도인구데이터.xlsx'
df = pd.read_excel(file_path, index_col = '구분')
df.columns = df.columns.map(str)

In [16]:
# 시도구분 경계 json파일 불러오기
geo_path = '/content/drive/MyDrive/Colab Notebooks/data/시각화/경기도행정구역경계.json'
try:
  geo_data = json.load(open(geo_path, encoding='utf-8'))
except:
  geo_data = json.load(open(geo_path, encoding='utf-8-sig'))

In [19]:
# 경기도 지도 만들기
g_map = folium.Map(location=(37.5502,126.982), tiles = 'Stamen Terrain', zoom_start=9)
# 출력할 연도 선택(2007~2017년)
year = '2010'
# Choroplet 클래스로 단계구분도 표시
folium.Choropleth(geo_data = geo_data,  # 지도 경계
                  data = df[year],    # 표시하려는 데이터
                  columns=[df.index, df[year]],  # 열 지정
                  threshold_scale = [1000,100000,300000,500000,700000],
                  key_on = 'feature.properties.name'
                  ).add_to(g_map)
g_map.save(f'./g_map_{year}.html')

In [18]:
df[year]

구분
수원시장안구     287474
수원시권선구     310553
수원시팔달구     216945
수원시영통구     252730
성남시수정구     256744
성남시중원구     263101
성남시분당구     434115
의정부시       421853
안양시만안구     265881
안양시동안구     358316
부천시원미구     443290
부천시소사구     227484
부천시오정구     193263
광명시        313019
평택시        402458
동두천시        88780
안산시상록구     373969
안산시단원구     331071
고양시덕양구     378260
고양시일산동구    256493
고양시일산서구    290086
과천시         62291
구리시        196800
남양주시       492347
오산시        145825
시흥시        390564
군포시        275351
의왕시        135009
하남시        137131
용인시처인구     202714
용인시기흥구     301630
용인시수지구     295950
파주시        303831
이천시        195691
안성시        163733
김포시        205997
화성시        371972
광주시        229319
양주시        179914
포천시        158156
여주시        109343
연천군         45603
가평군         55698
양평군         87874
Name: 2007, dtype: int64