In [1]:
# 화면에 출력하는 명령어는 print이고 () 안에는 출력하고 싶은 데이터를 넣는다.
# 문자열은... 문자들의 집합이고  "" 로 둘러싼다
print("hello","world!")

hello world!

In [2]:
# "Hello, World!" 와 "12345x7890" 이 각 줄에 출력되게 만드세요

In [3]:
print("Hello, World!"); print('12345x7890')

Hello, World!
12345x7890

In [4]:
a = 10
if a == 10:
  print('10입니다')

10입니다

In [5]:
4.3-2.7

1.5999999999999996

In [6]:
4.3 - 2.0

2.3

In [7]:
4.2 + 5

9.2

In [8]:
print(225+0.6*102); print(10+20)

286.2
30

In [9]:
225+0.6*102, 10+20

(286.2, 30)

In [10]:
print("hello world")

hello world

In [16]:
a = b = 10
c,d,e,f,g = 20,None,1,-1,'ㅎㅎㅎ'

In [17]:
print(c,d,e,f,g)

20 None 1 -1 ㅎㅎㅎ

In [20]:
print(1+2)
print("-"*300)
print(10+20)

3
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
30

In [22]:
"hello"+str(20)

'hello20'

In [27]:
s = "Hello, Python"
print("s의 길이는",str(len(s))+"입니다.")

s의 길이는 13입니다.

In [28]:
print(f"s의 길이는 {len(s)}입니다.")

s의 길이는 13입니다.

In [33]:
data = input("값을 입력하세요 : ")

값을 입력하세요 : 123

In [40]:
data + str(10)

'12310'

한번에 여러개 입력받기

In [42]:
print("안 녕 하 세 요")

안 녕 하 세 요

In [44]:
print("안 녕 하 세 요".split())

['안', '녕', '하', '세', '요']

In [45]:
a =  "안 녕 하 세 요".split()

In [49]:
a1,a2,a3,a4,a5 = "안 녕 하 세 요".split()

In [47]:
print(a1)

안

In [52]:
print("1234"[0]); print("1234"[1])

1
2

In [53]:
print("1234"[3]);

4

In [54]:
# 사용자로부터 숫자를 입력받아서 꺼꾸로 만들어보자
# 최종타입은 숫자(정수)
# ex  12345 -> 54321

In [55]:
number =  input("숫자를 입력하세요 : ") # 12345
print(number)

숫자를 입력하세요 : 12345
12345

In [59]:
print(number[4],number[3],number[2],number[1],number[0])

5 4 3 2 1

In [60]:
number[4]+number[3]+number[2]+number[1]+number[0]

'54321'

In [61]:
int(number[4]+number[3]+number[2]+number[1]+number[0])

54321

In [76]:
a,b,c = map(str,[111,222,333])

In [77]:
print(a+b+c)

111222333

In [81]:
a,b,c =  map(int, input().split())

10 20 30

In [85]:
print(a+b+c)

60

In [87]:
print("a\nb\nc\n")

a
b
c

중간점검
  - 변수
    - 만드는 규칙
    - 빈 변수 만들기(None)
    - 여러개 한번에 할당
    - 문자 <-> 숫자(정수, 실수)
    - 입력받기
    - 문자열 길이 구하기
    - 문자열 분리하기
    - 분리된 문자열에 특정함수 일괄 적용하기 map
    - 출력에 옵션정하기
    - 변수 swap
    - 문자열 연결+ , 반복* (문자열 연산)

응용문제
  - 타인의 BMI를 구해봅시다
  - BMI (kg/m2)를 구하는 방법은 (몸무게) / (키)2 로서, 단위에서 알 수 있듯이 몸무게는 kg, 키는 m이다
  - 키와 몸무게를 입력받아서 구해봅시다

In [88]:
cm = 172
kg = 65

In [91]:
kg/( (cm/100)**2)

21.971335857220122

In [92]:
(kg/cm/cm)*10000

21.971335857220122

In [95]:
kg/cm/cm

0.002197133585722012

In [104]:
print("abc\\ndef")

abc\ndef

In [108]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False) 
print('a','b','c',sep='', end='')
print('a','b','c',sep='')

abcabc

In [109]:
"aBcDeF".upper()

'ABCDEF'

In [110]:
"aBcDeF".lower()

'abcdef'

프린트 함수 옵션

In [119]:
print("a","b","c",sep="||", end="여기까지")

a||b||c여기까지

In [120]:
print("100동101호의 관리비는 210000원 입니다.")
print("100동102호의 관리비는 110000원 입니다.")
print("200동301호의 관리비는 210000원 입니다.")

100동101호의 관리비는 210000원 입니다.
100동102호의 관리비는 110000원 입니다.
200동301호의 관리비는 210000원 입니다.

In [122]:
dong,ho,price = 100,101,210000
#  100동 101호의 관리비는 210000원 입니다.

In [126]:
print(dong,"동 ",ho,"호의 관리비는 ",price,"원 입니다.",sep="")

100동 101호의 관리비는 210000원 입니다.

In [127]:
print(f"{dong}동 {ho}호의 관리비는 {price}원 입니다")

100동 101호의 관리비는 210000원 입니다

In [131]:
print(f"{3.14657:.2f}")

3.15

In [132]:
5/2

2.5

In [133]:
# 5나누기 2의 정수는 000이고 실수는 000 입니다.
5 // 2

2

In [134]:
# 사용자로부터 2개의 정수를 입력받아서 두 정수를 나눈결과를
# 정수와 실수로 구분해서 출력할것

In [135]:
number1,number2 = map(int, input("두개의 정수를 공백을 기준으로 입력").split())
result1 = number1 / number2
result2 = number1 // number2
print("정수:",result2)
print("실수:",result1 - result2)

두개의 정수를 공백을 기준으로 입력5 2
정수: 2
실수: 0.5

In [139]:
data = 12.56634
# 반올림  소수점 둘째자리까지 구해서 새로운 변수에 할당
# print( f"{data:.2f}" )
newData = float(f"{data:.2f}")
print(newData)

12.57

In [140]:
# 반올림미 적용
data = 12.56634
int(data*100)/100

12.56

In [143]:
# 반올림 적용
data = 12.56534
int(data*100+0.5)/100
# 12.57

12.57

In [ ]:
basicData

In [145]:
5 / 0

ZeroDivisionError: ignored

In [147]:
z = 0
try:
    z = 5 / 2
except ZeroDivisionError:
    z = 0
print(z)

2.5

In [149]:
data = 10
print(f"abc {data} def")

abc 10 def