In [1]:
'''클래스
목적 성적관리를 위한 클래스를
학생의 정보
  변수
    수강과목(국,영,수)
    이름  : string
    석차 : int
  함수
    생성자 : 위의 변수를 여기서 생성해 준다
    객체를 출력하면 실행되는 __str__ 를 재정의해서 클래스의 변수내용을 출력하는 함수로 작성 

클래스 외부
함수
    석차를 구하는 함수
학생들을 저장하는 리스트    

'''

'클래스\n목적 성적관리를 위한 클래스를\n학생의 정보\n  변수\n    수강과목(국,영,수) - dictionary\n    이름  : string\n    석차 : int\n  함수\n    생성자 : 위의 변수를 여기서 생성해 준다\n    객체를 출력하면 실행되는 __str__ 를 재정의해서 클래스의 변수내용을 출력하는 함수로 작성 \n\n클래스 외부\n함수\n    석차를 구하는 함수\n학생들을 저장하는 리스트    \n\n'

In [2]:
class Student(object):
  def __init__(self,name,kor,eng,math) -> None:
    self.name = name
    self.kor = kor
    self.eng = eng
    self.math = math
    self.rank = -1
  def __str__(self):
    return f"name:{self.name}, kor:{self.kor}, eng:{self.eng}, math:{self.math}, rank:{self.rank}"

In [3]:
student_list = []
data = input("이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:")
data = data.split()
student_list.append(Student(data[0],data[1],data[2],data[3]))

이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:홍길동 100 95 99

In [5]:
print(student_list[0])

name:홍길동, kor:100, eng:95, math:99, rank:-1