In [1]:
'''클래스
목적 성적관리를 위한 클래스를
학생의 정보
  변수
    수강과목(국,영,수)
    이름  : string
    석차 : int
  함수
    생성자 : 위의 변수를 여기서 생성해 준다
    객체를 출력하면 실행되는 __str__ 를 재정의해서 클래스의 변수내용을 출력하는 함수로 작성 

클래스 외부
함수
    석차를 구하는 함수
학생들을 저장하는 리스트    

'''

'클래스\n목적 성적관리를 위한 클래스를\n학생의 정보\n  변수\n    수강과목(국,영,수) - dictionary\n    이름  : string\n    석차 : int\n  함수\n    생성자 : 위의 변수를 여기서 생성해 준다\n    객체를 출력하면 실행되는 __str__ 를 재정의해서 클래스의 변수내용을 출력하는 함수로 작성 \n\n클래스 외부\n함수\n    석차를 구하는 함수\n학생들을 저장하는 리스트    \n\n'

In [2]:
class Student(object):
  def __init__(self,name,kor,eng,math) -> None:
    self.name = name
    self.kor = kor
    self.eng = eng
    self.math = math
    self.rank = -1
  def __str__(self):
    return f"name:{self.name}, kor:{self.kor}, eng:{self.eng}, math:{self.math}, rank:{self.rank}"

In [7]:
student_list = []
for _ in range(5):
  data = input("이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:").split()
  student_list.append(Student(data[0],data[1],data[2],data[3]))

이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:홍길동 80 90 70
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:김유신 90 80 70
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:철수 95 98 97
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:영희 85 87 99
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:희야 99 96 90

In [8]:
# 입력 데이터 확인
for i in student_list:
  print(i)

name:홍길동, kor:80, eng:90, math:70, rank:-1
name:김유신, kor:90, eng:80, math:70, rank:-1
name:철수, kor:95, eng:98, math:97, rank:-1
name:영희, kor:85, eng:87, math:99, rank:-1
name:희야, kor:99, eng:96, math:90, rank:-1

In [6]:
# 함수 매개변수를 객체리스트를 받아서 석차를 구한다음 각 객체의 rank에 기록

In [16]:
# 총점을 리스트에 저장하고
# 총점을 오름차순으로정렬 한후 새로운 리스트에 저장
# 새로운 리스트에 인덱스를구한다(조회하고자 하는 총점)
def calcRank(student_list):
  total_jumsu = [ int(i.kor)+int(i.eng)+int(i.math)  for i in student_list ]
  sorted_total_jumsu = sorted(total_jumsu, reverse=True)  
  rank_list = [ sorted_total_jumsu.index(i)+1 for i in total_jumsu]
  
  for idx,s in enumerate(student_list):
    s.rank  = rank_list[idx]

In [17]:
calcRank(student_list)

In [18]:
# 데이터 확인
for i in student_list:
  print(i)

name:홍길동, kor:80, eng:90, math:70, rank:4
name:김유신, kor:90, eng:80, math:70, rank:4
name:철수, kor:95, eng:98, math:97, rank:1
name:영희, kor:85, eng:87, math:99, rank:3
name:희야, kor:99, eng:96, math:90, rank:2