In [6]:
# 입장객의 나이에 따른 할인율 적용 및 리포트
# 20~~ adult  20000
# 12 ~ 19 : teenager  20000*0.8
#~11 : child :20000*0

In [7]:
class People(object):
  def __init__(self) -> None:    
    self.price = 20000
  def getPrice(self):
    return int(self.price - self.price*self.discount)

class Adult(People):
  def __init__(self):
    super().__init__()
    self.discount = .0  

class Teenager(People):
  def __init__(self):
    super().__init__()
    self.discount = .2  

class Child(People):
  def __init__(self):
    super().__init__()
    self.discount = 1.

In [12]:
type(Adult()) == Adult
type(Teenager()) == Teenager

True

In [28]:
from typing import Counter
class EnteranceMng(object):
  def __init__(self):
    self.lists = []
  def checkAge(self,age):
    if age >=20:
      self.lists.append(Adult())
    elif age >=12:
      self.lists.append(Teenager())
    else:
      self.lists.append(Child())
  def calc(self):
    return sum([i.getPrice() for i in self.lists])
  def __str__(self) -> str:
    s = "어른\t청소년\t어린이(유아포함)\n"    
    dics = {Adult : 0, Teenager:0,Child:0}
    for i in self.lists:
      if type(i) == Adult:
        dics[Adult] += 1
      elif type(i) == Teenager:
        dics[Teenager] += 1
      else:
        dics[Child] += 1
    s += f"{dics[Adult]}\t{dics[Teenager]}\t{dics[Child]}"
    return s

In [34]:
e = EnteranceMng()
for i in range(1, 1000):
  age = int(input("나이를 입력하세요 : "))
  e.checkAge(age)
  if i% 3 == 0:
    isContinue = input("계속 하시겠습니까(y/Y) : ")
    if isContinue.upper() != 'Y':
      break

print(e)
print("총 금액은 : ", e.calc())

나이를 입력하세요 : 25
나이를 입력하세요 : 20
나이를 입력하세요 : 15
계속 하시겠습니까(y/Y) : y
나이를 입력하세요 : 1
나이를 입력하세요 : 20
나이를 입력하세요 : 36
계속 하시겠습니까(y/Y) : y
나이를 입력하세요 : 2
나이를 입력하세요 : 5
나이를 입력하세요 : 10
계속 하시겠습니까(y/Y) : n
어른	청소년	어린이(유아포함)
4	1	4
총 금액은 :  96000

In [ ]:
!