In [1]:
'''클래스
목적 성적관리를 위한 클래스를
학생의 정보
  변수
    수강과목(국,영,수)
    이름  : string
    석차 : int
  함수
    생성자 : 위의 변수를 여기서 생성해 준다
    객체를 출력하면 실행되는 __str__ 를 재정의해서 클래스의 변수내용을 출력하는 함수로 작성 

클래스 외부
함수
    석차를 구하는 함수
학생들을 저장하는 리스트    

'''

'클래스\n목적 성적관리를 위한 클래스를\n학생의 정보\n  변수\n    수강과목(국,영,수) - dictionary\n    이름  : string\n    석차 : int\n  함수\n    생성자 : 위의 변수를 여기서 생성해 준다\n    객체를 출력하면 실행되는 __str__ 를 재정의해서 클래스의 변수내용을 출력하는 함수로 작성 \n\n클래스 외부\n함수\n    석차를 구하는 함수\n학생들을 저장하는 리스트    \n\n'

In [52]:
class Student(object):
  def __init__(self,name,kor,eng,math) -> None:
    self.name = name
    self.kor = kor
    self.eng = eng
    self.math = math
    self.rank = -1
  def __str__(self):
    return f"name:{self.name}, kor:{self.kor}, eng:{self.eng}, math:{self.math}, rank:{self.rank}"    

  def __eq__(self, __o: object) -> bool:
    return int(self.kor) == int(__o.kor)

In [7]:
student_list = []
for _ in range(5):
  data = input("이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:").split()
  student_list.append(Student(data[0],data[1],data[2],data[3]))

이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:홍길동 80 90 70
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:김유신 90 80 70
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:철수 95 98 97
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:영희 85 87 99
이름 국어 영어 수학 을 공백을 기준으로 차례대로 입력:희야 99 96 90

In [8]:
# 입력 데이터 확인
for i in student_list:
  print(i)

name:홍길동, kor:80, eng:90, math:70, rank:-1
name:김유신, kor:90, eng:80, math:70, rank:-1
name:철수, kor:95, eng:98, math:97, rank:-1
name:영희, kor:85, eng:87, math:99, rank:-1
name:희야, kor:99, eng:96, math:90, rank:-1

In [6]:
# 함수 매개변수를 객체리스트를 받아서 석차를 구한다음 각 객체의 rank에 기록

In [16]:
# 총점을 리스트에 저장하고
# 총점을 오름차순으로정렬 한후 새로운 리스트에 저장
# 새로운 리스트에 인덱스를구한다(조회하고자 하는 총점)
def calcRank(student_list):
  total_jumsu = [ int(i.kor)+int(i.eng)+int(i.math)  for i in student_list ]
  sorted_total_jumsu = sorted(total_jumsu, reverse=True)  
  rank_list = [ sorted_total_jumsu.index(i)+1 for i in total_jumsu]
  
  for idx,s in enumerate(student_list):
    s.rank  = rank_list[idx]

In [17]:
calcRank(student_list)

In [18]:
# 데이터 확인
for i in student_list:
  print(i)

name:홍길동, kor:80, eng:90, math:70, rank:4
name:김유신, kor:90, eng:80, math:70, rank:4
name:철수, kor:95, eng:98, math:97, rank:1
name:영희, kor:85, eng:87, math:99, rank:3
name:희야, kor:99, eng:96, math:90, rank:2

In [20]:
# 등수로 정렬해서 출력
for i in sorted(student_list, key = lambda x: x.rank):
  print(i)

name:철수, kor:95, eng:98, math:97, rank:1
name:희야, kor:99, eng:96, math:90, rank:2
name:영희, kor:85, eng:87, math:99, rank:3
name:홍길동, kor:80, eng:90, math:70, rank:4
name:김유신, kor:90, eng:80, math:70, rank:4

- 클래스: 변수 & 함수로 구성
- 객체 : 클래스를 이용해서 생성한 변수
- 객체만드는 방법 :  클래스명( 매개변수 ) -> 내부적으로 __init__(self,매개변수)  가 호출된다.
- 변수만드는 방법 : __init__() 함수(생성자)안에서 self.변수 = 값

In [21]:
# 클래스 만들고 사용하는 예제 10개 만들어서 사용해보고 이해하기
# 예제는 gpt를 통해서 (ex : python class 만드는 예제 10개 만들어줘 )

- 객체는 일반적인 변수처럼도 사용 가능하게 만들수 있다
- 객체지향 오버로딩(overloading)
  - 객체간의 연산, 비교
- 객체지향 오버라이딩(overriding)

In [29]:
class Rectangle(object):
  def __init__(self, width,height) -> None:
    self.width = width
    self.height = height
  def __str__(self):
    return f"widh:{self.width}, height:{self.height}"
  def getArea(self):
    return self.width * self.height

In [33]:
class Point(object):
  def __init__(self,x,y):
    self.x = x
    self.y = y
  def __str__(self):
    return f"({self.x},{self.y})"

In [44]:
import math

right_top = Point(5,5)
left_bottom = Point(2,3)
# 1 사각형의 넓이
width = abs(right_top.x - left_bottom.x)
height = abs(right_top.y - left_bottom.y)
r1 = Rectangle(width,height)
print('사각형의 넓이 :',r1.getArea())

# 2. 두 점사이의 거리 : 피타고라스의 정리    c = math.sqrt(a**2 + b**2)
print('두점사이의 거리 :',round( math.sqrt(width**2 + height**2), 2) )

사각형의 넓이 : 6
두점사이의 거리 : 3.61

In [54]:
s1 = Student('홍길동',100,100,100)
s2 = Student('이순신',100,100,100)

In [55]:
s1 == s2

True

- +: __add__
- -: __sub__
- *: __mul__
- /: __truediv__
- //: __floordiv__
- %: __mod__
- **: __pow__
- ==: __eq__
- !=: __ne__
- <: __lt__
- <=: __le__
- >: __gt__
- >=: __ge__
- &: __and__
- |: __or__
- ^: __xor__
- ~: __invert__
- <<: __lshift__
- >>: __rshift__
각각의 특수 메소드는 해당하는 연산자가 사용될 때 호출됩니다. 예를 들어, __add__ 메소드는 덧셈 연산자(+)가 사용될 때 호출되며, __sub__ 메소드는 뺄셈 연산자(-)가 사용될 때 호출됩니다.

다음은 __mul__ 메소드를 이용하여 곱셈 연산자(*)를 오버로딩하는 예제 코드입니다.

python
Copy code
class Number:
    def __init__(self, value):
        self.value = value
    
    def __mul__(self, other):
        if isinstance(other, Number):
            return Number(self.value * other.value)
        raise TypeError("Invalid operand type for *")

num1 = Number(10)
num2 = Number(20)

result = num1 * num2
print(result.value) # 200
위 코드에서 Number 클래스는 숫자 값을 가지는 객체를 나타내며, __mul__ 함수를 오버로딩하여 곱셈 연산을 지원합니다. result = num1 * num2 코드에서는 num1.__mul__(num2)가 호출되어 두 객체의 값을 곱한 새로운 Number 객체를 반환합니다. 결과적으로 result.value는 200이 출력됩니다.




이규영
파이썬 두 점 사이의 거리
두 점 사이의 거리를 계산하기 위해서는 수학적인 공식인 피타고라스의 정리를 이용할 수 있습니다. 이 공식은 세 변의 길이가 각각 a, b, c인 직각삼각형에서 빗변의 길이 c를 구하는 공식으로, a^2 + b^2 = c^2입니다.

두 점의 좌표를 (x1, y1)과 (x2, y2)라고 할 때, 두 점 사이의 거리는 다음과 같이 계산할 수 있습니다.

python
Copy code
import math

class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return math.sqrt(dx**2 + dy**2)
위 코드에서 Point 클래스는 (x, y) 좌표를 가지는 점을 나타내며, distance 메소드를 이용하여 다른 점과의 거리를 계산합니다. distance 메소드는 인자로 다른 Point 객체를 받아 해당 점과의 거리를 계산한 뒤 반환합니다.

이제 두 점을 생성하여 distance 메소드를 호출해보겠습니다.

python
Copy code
p1 = Point(1, 2)
p2 = Point(4, 6)

print(p1.distance(p2)) # 5.0
위 코드에서 p1.distance(p2)는 p1과 p2 사이의 거리를 계산한 뒤 반환합니다. 이 경우에는 5.0이 출력됩니다.

In [56]:
# 내장함수
# __init__  : 변수만들때
# __str__ : 객체 자체를 출력할때
# __eq__ : 객체끼리 == 같은지 비교할때