In [17]:
class Dog(object):  
  def __init__(self,data) -> None:
    self.mydata = data    
    print("초기화 함수 호출... 이것을 생성자라고 부른다. 왜냐.. 객체생성시 가장먼저 자동호출")

In [24]:
# 클래스를 이용한 객체 생성 방법
dog_object = Dog(3)

초기화 함수 호출... 이것을 생성자라고 부른다. 왜냐.. 객체생성시 가장먼저 자동호출

In [25]:
# Cat 클래스를 만들어서 맴버변수로 age를 만들고 사용해 보세요
class Cat(object):  
  def __init__(self,data) -> None:
    self.age = data  

cat_object = Cat(2)

In [34]:
# Human 클래스
# 맴버변수로 age name, address
# 객체만들기
class Human():
  def __init__(self,age,name,address) -> None:
    self.age = age
    self.name = name
    self.address = address

In [35]:
# 객체 h는 Human 클래스의 생성자를 통해 초기화하는데.. 이때 데이터는 10,'홍길동','서울시'을 넘겨준거고
# 해당값을 가지고 내부에 있는 클래스 맴버변수를 생성한다
# 클래스 맴버변수는
# self.age = age
# self.name = name
# self.address = address

h = Human(10,'홍길동','서울시')

In [47]:
h.age = 20

10

In [36]:
h2 = Human(20,'철수','경기도')
h3 = Human(30,'영희','대전')
h4 = Human(30,'순희','대구')

In [37]:
print(h.name, h2.name,h3.name,h4.name)

홍길동 철수 영희 순희

In [38]:
humanlist = [h,h2,h3,h4]

In [39]:
humanlist = [  Human(11,'홍길동1','서울시1'),Human(22,'홍길동2','서울시2'),Human(33,'홍길동3','서울시3') ]

In [40]:
humanlist[0].name

'홍길동1'

In [45]:
class Animal():
  def __init__(self,eat) -> None:
    self.abc = eat

In [46]:
a = Animal("고기")

In [ ]:
#  클래스명 - > 자유
#  맴버변수의 개수나 형태도 자유
# 클래스의 객체를 생성하고
# 객체를 통해 맴버변수의 값 확인
# 객체를 통해 맴버변수의 값을 변경

In [48]:
# 클래스의 객체를 여러개 만들어서 특정 맴버변수를 기준으로 정렬
# 정렬은 람다함수를 이용
# sorted(리스트데이터, key = 람다로 표현)

In [49]:
class Student(object):
  def __init__(self, name,age=-1,jumsu=-1,rank=-1) -> None:
    self.name = name
    self.age = age
    self.jumsu = jumsu
    self.rank = rank

In [55]:
student_list = [Student("이규영",10,90,10),Student("이규형",5,80,20),Student("홍길동",13,70,30)]

In [64]:
s = Student("이규영",10,90,10)
s

In [70]:
# 객체를 주면 객체의 내용을 출력하는 함수
def showMember(s):
  print(s.name,s.age,s.jumsu,s.rank)

In [74]:
# 정렬
sorted_age = sorted(student_list, key = lambda x:x.rank)
[ (i.name,i.age,i.jumsu,i.rank) for i in sorted_age ]
# 순서대로 출력
for i in student_list:
  showMember(i)

print("*"*50)  
# 이중에서 나이가 또는 이름이 등등 특정 조건으로 찾고
# 원하는 변수의 값을 변경
find_list = [i for i in student_list if i.age >= 10 ]
for i in find_list:
  showMember(i)
# 리스트에 추가도 하고

# 리스트에 삭제도 하고

# 각 객체들의 특정 변수의 값만 뽑아서 리스트로 만들기
[i.name for i in student_list ]

이규영 10 90 10
이규형 5 80 20
홍길동 13 70 30
**************************************************
이규영 10 90 10
홍길동 13 70 30

['이규영', '이규형', '홍길동']

In [81]:
class Dumy(object):
  def __init__(self,data) -> None:
    self.data = data
  def __str__(self) -> str:
    return "누가 나를 불렀나요?"

In [82]:
# __init__을 호출해서 객체를 생성하는 문법
d1 = Dumy(10)

In [83]:
print(d1)

누가 나를 불렀나요?