In [17]:
class Dog(object):  
  def __init__(self,data) -> None:
    self.mydata = data    
    print("초기화 함수 호출... 이것을 생성자라고 부른다. 왜냐.. 객체생성시 가장먼저 자동호출")

In [24]:
# 클래스를 이용한 객체 생성 방법
dog_object = Dog(3)

초기화 함수 호출... 이것을 생성자라고 부른다. 왜냐.. 객체생성시 가장먼저 자동호출

In [25]:
# Cat 클래스를 만들어서 맴버변수로 age를 만들고 사용해 보세요
class Cat(object):  
  def __init__(self,data) -> None:
    self.age = data  

cat_object = Cat(2)

In [34]:
# Human 클래스
# 맴버변수로 age name, address
# 객체만들기
class Human():
  def __init__(self,age,name,address) -> None:
    self.age = age
    self.name = name
    self.address = address

In [35]:
# 객체 h는 Human 클래스의 생성자를 통해 초기화하는데.. 이때 데이터는 10,'홍길동','서울시'을 넘겨준거고
# 해당값을 가지고 내부에 있는 클래스 맴버변수를 생성한다
# 클래스 맴버변수는
# self.age = age
# self.name = name
# self.address = address

h = Human(10,'홍길동','서울시')

In [36]:
h2 = Human(20,'철수','경기도')
h3 = Human(30,'영희','대전')
h4 = Human(30,'순희','대구')

In [37]:
print(h.name, h2.name,h3.name,h4.name)

홍길동 철수 영희 순희

In [38]:
humanlist = [h,h2,h3,h4]

In [39]:
humanlist = [  Human(11,'홍길동1','서울시1'),Human(22,'홍길동2','서울시2'),Human(33,'홍길동3','서울시3') ]

In [40]:
humanlist[0].name

'홍길동1'

In [45]:
class Animal():
  def __init__(self,eat) -> None:
    self.abc = eat

In [46]:
a = Animal("고기")