In [213]:
import pandas as pd
import numpy as np

In [214]:
fpath = '/content/drive/MyDrive/Colab Notebooks/data/fulldata_03_11_03_P_숙박업.csv'
# csv 파일 읽기
df = pd.read_csv(fpath,encoding='cp949',low_memory=False)

In [215]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55057 entries, 0 to 55056
Data columns (total 45 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   번호           55057 non-null  int64
 1   개방서비스명       55057 non-null  object
 2   개방서비스아이디     55057 non-null  object
 3   개방자치단체코드     55057 non-null  int64
 4   관리번호         55057 non-null  object
 5   인허가일자        55056 non-null  object
 6   인허가취소일자      0 non-null      float64
 7   영업상태구분코드     55057 non-null  int64
 8   영업상태명        55057 non-null  object
 9   상세영업상태코드     55057 non-null  int64
 10  상세영업상태명      55057 non-null  object
 11  폐업일자         25340 non-null  object
 12  휴업시작일자       0 non-null      float64
 13  휴업종료일자       0 non-null      float64
 14  재개업일자        0 non-null      float64
 15  소재지전화        46845 non-null  object
 16  소재지면적        54678 non-null  float64
 17  소재지우편번호      53654 non-null  object
 18  소재지전체주소      54983 non-null  object
 19  도로명전체주소      39743 non-null  object
 20  도로명우편번호      38676 non-null  float64
 21  사업장명         55057 non-null  object
 22  최종수정시점       55057 non-null  object
 23  데이터갱신구분      55057 non-null  object
 24  데이터갱신일자      55057 non-null  object
 25  업태구분명        55056 non-null  object
 26  좌표정보(x)      50296 non-null  float64
 27  좌표정보(y)      50296 non-null  float64
 28  위생업태명        55056 non-null  object
 29  건물지상층수       48488 non-null  float64
 30  건물지하층수       45515 non-null  float64
 31  사용시작지상층      46973 non-null  float64
 32  사용끝지상층       42150 non-null  float64
 33  사용시작지하층      42329 non-null  float64
 34  사용끝지하층       37050 non-null  float64
 35  한실수          51308 non-null  float64
 36  양실수          50694 non-null  float64
 37  조건부허가신고사유    100 non-null    object
 38  조건부허가시작일자    64 non-null     float64
 39  조건부허가종료일자    63 non-null     float64
 40  건물소유구분명      16517 non-null  object
 41  여성종사자수       16366 non-null  float64
 42  남성종사자수       16359 non-null  float64
 43  다중이용업소여부     55057 non-null  object
 44  Unnamed: 44  0 non-null      float64
dtypes: float64(21), int64(4), object(20)
memory usage: 18.9+ MB

In [216]:
# temp = df[['소재지전체주소','도로명전체주소','좌표정보(x)','좌표정보(y)']]
temp = df[['소재지전체주소','도로명전체주소']]
# temp2 = temp[ [ any(i) for i in  temp.isna().values] ]
# temp2 = temp[ temp.isna().any(axis=1) ]

In [217]:
a = [True,False,False,False,False,False,False]
any(a)

True

In [218]:
temp[ [any(i) for i in temp.isna().values] ]

                         소재지전체주소                  도로명전체주소
166                          NaN     대구광역시 달성군 논공읍 금포로 13
480         경상북도 김천시 남면 봉천리 51번지                      NaN
486      경상북도 김천시 아포읍 송천리 1111번지                      NaN
524                          NaN  경상북도 김천시 남면 금오동천로 103-3
665        충청남도 천안시 동남구 대흥동 62-5                      NaN
...                          ...                      ...
55036   경기도 고양시 덕양구 토당동 335-45번지                      NaN
55037      경기도 고양시 덕양구 주교동 127번지                      NaN
55039    경기도 고양시 덕양구 성사동 516-4번지                      NaN
55040  경기도 고양시 덕양구 용두동 432-114번지                      NaN
55044      경기도 고양시 덕양구 효자동 219번지                      NaN

[15388 rows x 2 columns]

In [219]:
a = np.array([1,2,5,4,7,8])
a[[True,True,False,True,True,True]]

array([1, 2, 4, 7, 8])

In [220]:
temp = temp.ffill(axis = 1)
temp = temp.bfill(axis = 1)
sum(temp.isna().any(axis=1))

0

In [221]:
temp['광역시'] = temp['소재지전체주소'].apply(lambda x: x.split()[0])
temp['시군구'] = temp['소재지전체주소'].apply(lambda x: x.split()[1])
temp['동읍면'] = temp['소재지전체주소'].apply(lambda x: x.split()[2])

In [222]:
temp[['광역시',	'시군구'	,'동읍면']]

           광역시   시군구  동읍면
0        광주광역시    북구  신안동
1        광주광역시    북구  오룡동
2        광주광역시    북구   임동
3        광주광역시    북구  용봉동
4        광주광역시    북구  중흥동
...        ...   ...  ...
55052  제주특별자치도  서귀포시  색달동
55053      경기도   화성시  서신면
55054     전라남도   목포시   달동
55055      강원도   영월군  영월읍
55056     전라남도   신안군  자은면

[55057 rows x 3 columns]

In [223]:
#컬럼의 길이 제한을 없애서 보기 편하게 조정한다.
pd.options.display.max_columns = None

In [224]:
df2 = df[['상세영업상태명','최종수정시점']]
df2.head()

  상세영업상태명               최종수정시점
0      영업  2020-12-23 13:53:29
1      영업  2022-11-18 11:06:39
2      영업  2018-02-21 16:39:04
3      영업  2018-02-21 16:09:17
4      영업  2021-07-14 13:13:45

In [225]:
temp2 = temp[['광역시',	'시군구'	,'동읍면']]
df3 = pd.concat([df2,temp2],axis=1)
df3.head()

  상세영업상태명               최종수정시점    광역시 시군구  동읍면
0      영업  2020-12-23 13:53:29  광주광역시  북구  신안동
1      영업  2022-11-18 11:06:39  광주광역시  북구  오룡동
2      영업  2018-02-21 16:39:04  광주광역시  북구   임동
3      영업  2018-02-21 16:09:17  광주광역시  북구  용봉동
4      영업  2021-07-14 13:13:45  광주광역시  북구  중흥동

In [226]:
df3['년도'] = df3['최종수정시점'].apply(lambda x : int(x.split('-')[0]))
df3['월'] = df3['최종수정시점'].apply(lambda x : int(x.split('-')[1]))

In [227]:
df3 = df3.drop(columns=['최종수정시점'])
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55057 entries, 0 to 55056
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   상세영업상태명  55057 non-null  object
 1   광역시      55057 non-null  object
 2   시군구      55057 non-null  object
 3   동읍면      55057 non-null  object
 4   년도       55057 non-null  int64
 5   월        55057 non-null  int64
dtypes: int64(2), object(4)
memory usage: 2.5+ MB

In [228]:
result = df3.groupby(['상세영업상태명','년도'])['월'].count()
result1 = result['영업']
result2 = result['폐업']

In [229]:
temp = pd.DataFrame(result1)
temp.columns = ['개수']
# temp.T

temp2 = pd.DataFrame(result2)
temp2.columns = ['개수']
# temp2.T

temp3 = pd.concat([temp.T, temp2.T])
temp3.index = ['영업','폐업']
temp3

년도,2001,2002,2003,2005,2006,2007,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,1999,2000,2004,2008
영업,4,2,6,2,4,6,3,3,1,6,17,17,38,21,1950,4266,3167,3996,5923,8035,2244,NaN,NaN,NaN,NaN
폐업,1971,2005,4411,1372,919,917,508,504,617,711,520,413,412,322,883,1356,985,1047,1251,1163,200,251.0,134.0,1919.0,555.0

In [236]:
temp3[np.sort(temp3.columns.to_list())]

년도,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
영업,NaN,NaN,4,2,6,NaN,2,4,6,NaN,3,3,1,6,17,17,38,21,1950,4266,3167,3996,5923,8035,2244
폐업,251.0,134.0,1971,2005,4411,1919.0,1372,919,917,555.0,508,504,617,711,520,413,412,322,883,1356,985,1047,1251,1163,200