In [118]:
import pandas as pd
import numpy as np

In [119]:
fpath = '/content/drive/MyDrive/Colab Notebooks/data/fulldata_03_11_03_P_숙박업.csv'
# csv 파일 읽기
df = pd.read_csv(fpath,encoding='cp949',low_memory=False)

In [ ]:
df.info()

In [121]:
# temp = df[['소재지전체주소','도로명전체주소','좌표정보(x)','좌표정보(y)']]
temp = df[['소재지전체주소','도로명전체주소']]
# temp2 = temp[ [ any(i) for i in  temp.isna().values] ]
# temp2 = temp[ temp.isna().any(axis=1) ]

In [126]:
a = [True,False,False,False,False,False,False]
any(a)

True

In [135]:
temp[ [any(i) for i in temp.isna().values] ]

                         소재지전체주소                  도로명전체주소
166                          NaN     대구광역시 달성군 논공읍 금포로 13
480         경상북도 김천시 남면 봉천리 51번지                      NaN
486      경상북도 김천시 아포읍 송천리 1111번지                      NaN
524                          NaN  경상북도 김천시 남면 금오동천로 103-3
665        충청남도 천안시 동남구 대흥동 62-5                      NaN
...                          ...                      ...
55036   경기도 고양시 덕양구 토당동 335-45번지                      NaN
55037      경기도 고양시 덕양구 주교동 127번지                      NaN
55039    경기도 고양시 덕양구 성사동 516-4번지                      NaN
55040  경기도 고양시 덕양구 용두동 432-114번지                      NaN
55044      경기도 고양시 덕양구 효자동 219번지                      NaN

[15388 rows x 2 columns]

In [133]:
a = np.array([1,2,5,4,7,8])
a[[True,True,False,True,True,True]]

array([1, 2, 4, 7, 8])

In [109]:
temp = temp.ffill(axis = 1)
temp = temp.bfill(axis = 1)
sum(temp.isna().any(axis=1))

0

In [115]:
temp['광역시'] = temp['소재지전체주소'].apply(lambda x: x.split()[0])
temp['시군구'] = temp['소재지전체주소'].apply(lambda x: x.split()[1])
temp['동읍면'] = temp['소재지전체주소'].apply(lambda x: x.split()[2])

In [117]:
temp[['광역시',	'시군구'	,'동읍면']]

           광역시   시군구  동읍면
0        광주광역시    북구  신안동
1        광주광역시    북구  오룡동
2        광주광역시    북구   임동
3        광주광역시    북구  용봉동
4        광주광역시    북구  중흥동
...        ...   ...  ...
55052  제주특별자치도  서귀포시  색달동
55053      경기도   화성시  서신면
55054     전라남도   목포시   달동
55055      강원도   영월군  영월읍
55056     전라남도   신안군  자은면

[55057 rows x 3 columns]