In [118]:
import pandas as pd

In [119]:
raw_data = {
  'id' : [1,2,3,4,5,6,7,8,9,10],
  'score':list(range(10,20))
}
df_left = pd.DataFrame( raw_data)

raw_data2 = {
  'number' : [4,5,6],
  'value':list(range(100,103))
}
df_right = pd.DataFrame( raw_data2)

In [120]:
pd.merge(df_left,df_right,how='inner', left_on= 'id', right_on='number')

   id  score  number  value
0   4     13       4    100
1   5     14       5    101
2   6     15       6    102

In [121]:
pd.merge(df_left,df_right,how='left', left_on= 'id', right_on='number')  # 변경하지 않으면 에러

   id  score  number  value
0   1     10     NaN    NaN
1   2     11     NaN    NaN
2   3     12     NaN    NaN
3   4     13     4.0  100.0
4   5     14     5.0  101.0
5   6     15     6.0  102.0
6   7     16     NaN    NaN
7   8     17     NaN    NaN
8   9     18     NaN    NaN
9  10     19     NaN    NaN

In [122]:
pd.merge(df_left,df_right,how='right', left_on= 'id', right_on='number') # 변경하지 않으면 에러

   id  score  number  value
0   4     13       4    100
1   5     14       5    101
2   6     15       6    102

In [123]:
# 파일 리스트
from glob import glob

In [124]:
filelists = glob('/content/drive/MyDrive/Colab Notebooks/data/mergefiles/sales*.xlsx')

In [125]:
filelists

['/content/drive/MyDrive/Colab Notebooks/data/mergefiles/sales-feb-2014.xlsx',
 '/content/drive/MyDrive/Colab Notebooks/data/mergefiles/sales-jan-2014.xlsx',
 '/content/drive/MyDrive/Colab Notebooks/data/mergefiles/sales-mar-2014.xlsx']

In [126]:
# 엑셀파일 로드
filelists[0]

'/content/drive/MyDrive/Colab Notebooks/data/mergefiles/sales-feb-2014.xlsx'

In [127]:
df = pd.read_excel( filelists[0] )
len(df)

108

In [128]:
# 위에서 가져온 전체파일들의 데이터 개수의 총 합
sum([len(pd.read_excel(i)) for i in filelists])  # sum([100,200,300])

384

In [129]:
# 파일리스트에서 엑셀파일을 읽어서 데이터객체를 리스트로 저장
df_lists = [ pd.read_excel(i) for i in filelists]

In [130]:
# axis : {0/'index', 1/'columns'}, default 0
df_concat = pd.concat(df_lists)

In [131]:
len(df_concat)

384

In [132]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384 entries, 0 to 141
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account number  384 non-null    int64
 1   name            384 non-null    object
 2   sku             384 non-null    object
 3   quantity        384 non-null    int64
 4   unit price      384 non-null    float64
 5   ext price       384 non-null    float64
 6   date            384 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 24.0+ KB

In [133]:
# 병합후 인덱스가 틀어지므로 다시 재 정렬
df_concat = df_concat.reset_index(drop=True)

In [134]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account number  384 non-null    int64
 1   name            384 non-null    object
 2   sku             384 non-null    object
 3   quantity        384 non-null    int64
 4   unit price      384 non-null    float64
 5   ext price       384 non-null    float64
 6   date            384 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 21.1+ KB

In [135]:
df_concat.duplicated().sum()  # 중복된 데이터는 없다

0

In [136]:
url = '/content/drive/MyDrive/Colab Notebooks/data/fulldata_03_11_03_P_숙박업.csv'
df = pd.read_csv(url,encoding='cp949',low_memory=False)
df.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지전화,소재지면적,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),위생업태명,건물지상층수,건물지하층수,사용시작지상층,사용끝지상층,사용시작지하층,사용끝지하층,한실수,양실수,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,여성종사자수,남성종사자수,다중이용업소여부,Unnamed: 44
0,1,숙박업,03_11_03_P,3620000,3620000-201-2005-00005,2005-08-18,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,050350519280,764.53,500-827,광주광역시 북구 신안동 120-13,광주광역시 북구 중흥로91번길 12 (신안동),61250.0,야자,2020-12-23 13:53:29,U,2020-12-25 02:40:00,여관업,191244.967300,185003.119744,여관업,5.0,1.0,1.0,5.0,0.0,0.0,8.0,24.0,NaN,NaN,NaN,임대,NaN,NaN,N,NaN
1,2,숙박업,03_11_03_P,3620000,3620000-201-2000-00013,2000-06-15,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,062 973 6277,1292.03,500-480,광주광역시 북구 오룡동 1114-6,광주광역시 북구 앰코로 30 (오룡동),61009.0,엔(N)모텔,2022-11-18 11:06:39,U,2022-11-20 02:40:00,여관업,186561.710000,191267.830000,여관업,8.0,1.0,1.0,8.0,0.0,0.0,1.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,3,숙박업,03_11_03_P,3620000,3620000-214-1985-00002,1985-11-19,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,062 571 5153,343.44,500-870,"광주광역시 북구 임동 187-1번지 4, 5층","광주광역시 북구 신임로 2-1 (임동, 4,5층)",61249.0,디오앤에스임동,2018-02-21 16:39:04,I,2018-08-31 23:59:59,숙박업(생활),190625.574555,184980.316890,숙박업(생활),5.0,1.0,1.0,5.0,0.0,0.0,8.0,8.0,NaN,NaN,NaN,자가,NaN,NaN,N,NaN
3,4,숙박업,03_11_03_P,3620000,3620000-201-2000-00014,2000-07-10,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,062 5149991,936.18,500-846,광주광역시 북구 용봉동 1366-5번지,광주광역시 북구 저불로70번길 6-6 (용봉동),61106.0,에로스모텔,2018-02-21 16:09:17,I,2018-08-31 23:59:59,여관업,190456.100119,186764.725022,여관업,5.0,1.0,1.0,5.0,0.0,0.0,4.0,28.0,NaN,NaN,NaN,자가,NaN,NaN,N,NaN
4,5,숙박업,03_11_03_P,3620000,3620000-201-2002-00007,2002-04-29,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,NaN,928.32,500-878,광주광역시 북구 중흥동 711-8,광주광역시 북구 경양로165번길 8 (중흥동),61237.0,클라우드인호텔,2021-07-14 13:13:45,U,2021-07-16 02:40:00,여관업,191709.890100,184633.730686,여관업,5.0,0.0,1.0,5.0,0.0,0.0,3.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [137]:
pd.options.display.max_columns = None

In [138]:
df.head(1)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지전화,소재지면적,소재지우편번호,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),위생업태명,건물지상층수,건물지하층수,사용시작지상층,사용끝지상층,사용시작지하층,사용끝지하층,한실수,양실수,조건부허가신고사유,조건부허가시작일자,조건부허가종료일자,건물소유구분명,여성종사자수,남성종사자수,다중이용업소여부,Unnamed: 44
0,1,숙박업,03_11_03_P,3620000,3620000-201-2005-00005,2005-08-18,NaN,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,050350519280,764.53,500-827,광주광역시 북구 신안동 120-13,광주광역시 북구 중흥로91번길 12 (신안동),61250.0,야자,2020-12-23 13:53:29,U,2020-12-25 02:40:00,여관업,191244.9673,185003.119744,여관업,5.0,1.0,1.0,5.0,0.0,0.0,8.0,24.0,NaN,NaN,NaN,임대,NaN,NaN,N,NaN

In [139]:
new_df = df.loc[:, ['개방서비스명','영업상태명','상세영업상태명','소재지전체주소','도로명전체주소','최종수정시점','데이터갱신일자' ] ]

In [140]:
new_df.to_csv('./hotels.csv' ,encoding='utf-8',index=False)

In [141]:
hotels = pd.read_csv('./hotels.csv')
hotels.head()

,개방서비스명,영업상태명,상세영업상태명,소재지전체주소,도로명전체주소,최종수정시점,데이터갱신일자
0,숙박업,영업/정상,영업,광주광역시 북구 신안동 120-13,광주광역시 북구 중흥로91번길 12 (신안동),2020-12-23 13:53:29,2020-12-25 02:40:00
1,숙박업,영업/정상,영업,광주광역시 북구 오룡동 1114-6,광주광역시 북구 앰코로 30 (오룡동),2022-11-18 11:06:39,2022-11-20 02:40:00
2,숙박업,영업/정상,영업,"광주광역시 북구 임동 187-1번지 4, 5층","광주광역시 북구 신임로 2-1 (임동, 4,5층)",2018-02-21 16:39:04,2018-08-31 23:59:59
3,숙박업,영업/정상,영업,광주광역시 북구 용봉동 1366-5번지,광주광역시 북구 저불로70번길 6-6 (용봉동),2018-02-21 16:09:17,2018-08-31 23:59:59
4,숙박업,영업/정상,영업,광주광역시 북구 중흥동 711-8,광주광역시 북구 경양로165번길 8 (중흥동),2021-07-14 13:13:45,2021-07-16 02:40:00

In [142]:
from collections import Counter
Counter( hotels['상세영업상태명'].values)

Counter({'영업': 29711, '폐업': 25346})

In [143]:
hotels['개방서비스명'].value_counts()

숙박업    55057
Name: 개방서비스명, dtype: int64

In [144]:
# 없는 데이터는 제거
hotels = hotels.dropna()
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39669 entries, 0 to 55056
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   개방서비스명   39669 non-null  object
 1   영업상태명    39669 non-null  object
 2   상세영업상태명  39669 non-null  object
 3   소재지전체주소  39669 non-null  object
 4   도로명전체주소  39669 non-null  object
 5   최종수정시점   39669 non-null  object
 6   데이터갱신일자  39669 non-null  object
dtypes: object(7)
memory usage: 2.4+ MB

In [145]:
# 시군구별 영업 ?, 폐업?
# 년 월 기준으로 데이터를 .....

In [146]:
hotels['광역시'] = None
hotels['시군구'] = None
hotels['동읍면'] = None
hotels['년도'] = None
hotels['월'] = None

In [147]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39669 entries, 0 to 55056
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   개방서비스명   39669 non-null  object
 1   영업상태명    39669 non-null  object
 2   상세영업상태명  39669 non-null  object
 3   소재지전체주소  39669 non-null  object
 4   도로명전체주소  39669 non-null  object
 5   최종수정시점   39669 non-null  object
 6   데이터갱신일자  39669 non-null  object
 7   광역시      0 non-null      object
 8   시군구      0 non-null      object
 9   동읍면      0 non-null      object
 10  년도       0 non-null      object
 11  월        0 non-null      object
dtypes: object(12)
memory usage: 3.9+ MB

In [148]:
hotels['소재지전체주소'].values[0].split()[0]

'광주광역시'

In [149]:
temp = [ i.split()[0] for i in hotels['소재지전체주소'].values]
temp[:5]

['광주광역시', '광주광역시', '광주광역시', '광주광역시', '광주광역시']

In [150]:
Counter(temp)

Counter({'광주광역시': 1026,
         '대구광역시': 1157,
         '경상북도': 3183,
         '강원도': 3479,
         '충청남도': 2865,
         '충청북도': 1366,
         '제주특별자치도': 1709,
         '서울특별시': 3972,
         '경기도': 5927,
         '인천광역시': 1839,
         '전라남도': 2709,
         '전라북도': 1857,
         '울산광역시': 901,
         '경상남도': 3596,
         '부산광역시': 2991,
         '대전광역시': 996,
         '세종특별자치시': 96})

In [154]:
temp = [ i.split()[0] for i in hotels['소재지전체주소'].values]
hotels['광역시'] = temp

In [155]:
hotels.head(2)

,개방서비스명,영업상태명,상세영업상태명,소재지전체주소,도로명전체주소,최종수정시점,데이터갱신일자,광역시,시군구,동읍면,년도,월,시
0,숙박업,영업/정상,영업,광주광역시 북구 신안동 120-13,광주광역시 북구 중흥로91번길 12 (신안동),2020-12-23 13:53:29,2020-12-25 02:40:00,광주광역시,None,None,None,None,광주광역시
1,숙박업,영업/정상,영업,광주광역시 북구 오룡동 1114-6,광주광역시 북구 앰코로 30 (오룡동),2022-11-18 11:06:39,2022-11-20 02:40:00,광주광역시,None,None,None,None,광주광역시

('경상북도 김천시 덕곡동 1002-5번지', '대구광역시 달서구 이곡동 1198-6번지 외1필지')