조건문
  - 조건에따라 실행여부가 결정되는 문장
  - if statement
  - if else 
  - if eslif eslif eslif ... else

In [4]:
score = int(input("점수를 입력하세요 : "))

if score >= 90:
  print("A")
elif score >=80:
  print("B")
elif score >=70:
  print("C")
elif score >=60:
  print("D")  
else:
  print("F")

점수를 입력하세요 : 90
합격

In [ ]:
# 개선  누군가는 정직하기 숫자를 입력하지만.. 누군가는 장난으로 문자를 입력할수 도 있다
score = int(input("점수를 입력하세요 : "))

In [ ]:
# 숫자판단
isinstance("10",int)  # 숫자여부를 판단하는  함수
"10".isnumeric() # 문자열이 숫자인지 판단하는 함수
type("10") == str # 주어진 데이터의 타입이 오른쪽에 있는 타입과 같은지 확인하는 명령어

In [17]:
score = input("데이터를입력하세요 : ")
print( score.isdigit() )
print(type(score) )

데이터를입력하세요 : 10
True
<class 'str'>

In [20]:
score = input("데이터를입력하세요 : ")
if score.isdigit():
  score = int(score)
else:  
  score = input("정수를 다시 입력하세요 : ")

데이터를입력하세요 : 12.5
정수를 다시 입력하세요 : 12

In [25]:
x = int(input('input data : '))
if x > 0:
  if x % 2 == 0:
    print(x,"는 0보다 큰 짝수 입니다.")

input data : 20
x는 0보다큰 짝수 입니다.

In [29]:
x = int(input('input data : '))
if x > 0 and x % 2 == 0:
  print(x,"은(는) 0보다 큰 짝수 입니다.",sep="")

input data : 10
10은(는) 0보다 큰 짝수 입니다.

In [ ]:
x = int(input('input data : '))
if x > 0:
  if x % 2 == 0:
    print(x,"는 0보다 큰 짝수 입니다.",sep="")
  else:
    print(x,"는 0보다 큰 홀수 입니다.",sep="")

In [ ]:
x = int(input('input data : '))
if x > 0 and x % 2 == 0:
    print(x,"는 0보다 큰 짝수 입니다.",sep="")
else:
    print(x,"는 0보다 큰 홀수 입니다.",sep="")

In [ ]:
x = int(input('input data : '))
if x > 0:
  print("양수입니다.")
  if x % 2 == 0:
    print(x,"는 0보다 큰 짝수 입니다.")

In [32]:
def abc1():
  print("abc1")
def abc2():
  print("abc2")
def abc3():
  print("abc3")

In [35]:
func_list = [abc1,abc2,abc3]
x = int(input("0부터 2까지 정수 입력 : "))
func_list[x]()

0부터 2까지 정수 입력 : 1
abc2

In [39]:
greeting = "hello"
print(greeting[ : ])
print(greeting[ 0: 5])
print(greeting[ ::1])

hello
hello
hello

In [40]:
print(greeting[ :])
print(greeting[ :-1])
print(greeting[ :-2])
print(greeting[ :-3])

hello
hell
hel
he

In [41]:
print(greeting[ :])
print(greeting[ :1])
print(greeting[ :2])
print(greeting[ :3])

hello
h
he
hel

In [42]:
greeting

'hello'

In [43]:
greeting[::-1]

'olleh'