In [8]:
'''
Animal 클래스를 상속받는 Dog 클래스를 작성하세요. 
Dog 클래스는 Animal 클래스와 동일한 속성과 메서드를 가지며, 
bark() 메서드를 추가로 가지며, "멍멍!"이라는 문자열을 반환합니다.
'''
# Cat  클래스 및 기타 동물 클래스
# 변수와 기타 함수는 다양하게 한번 만들어서 사용

# __str__(self)
# __eq__(self)
# 정렬..... 람다 

class Animal(object):
  def __init__(self,name,age,breed=None):
    self.name = name
    self.age = age
    self.breed = breed
  def __str__(self):
    return f"name : {self.name}, age : {self.age}, breed : {self.breed}"
  def __eq__(self, __o: object) -> bool:
    return (self.name == __o.name) and (self.age == __o.age) and (self.breed == __o.breed)

class Dog(Animal):    
  def bark(self):
    return f"멍멍"  

class Cat(Animal):    
  def bark(self):
    return f"야옹"      

class Human(Animal):
  def __init__(self, name, age, gender):
    super().__init__(name, age)
    self.gender = gender
  def __str__(self):
    return f"name : {self.name}, age : {self.age}, gender : {self.gender}"   
  
  def __eq__(self, __o: object) -> bool:
    raise Exception('사람은 같을수가 없습니다.')

In [9]:
d1 = Dog("꾸꾸",1.5,'아메리칸 블리')
d2 = Dog("꾸꾸",1.5,'아메리칸 블리')
c1 = Cat('나비',2,'페르시아')
c2 = Cat('나비',3,'페르시아')
h1 = Human("홍길동",25,'남')
h2 = Human("영희",35,'여')

In [10]:
animal_lists = [
    Dog("꾸꾸",1.5,'아메리칸 블리'),
    Dog("꾸꾸",1.5,'아메리칸 블리'),
    Cat('나비',2,'페르시아'),
    Cat('나비',3,'페르시아'),
    Human("홍길동",25,'남'),
    Human("영희",35,'여')
]

In [14]:
animal_lists[0] == animal_lists[2]

False

In [21]:
sorted_list = sorted(animal_lists, key = lambda x: x.age ,reverse=True)

In [22]:
for i in sorted_list:
  print(i)
  print('*'*50)

name : 영희, age : 35, gender : 여
**************************************************
name : 홍길동, age : 25, gender : 남
**************************************************
name : 나비, age : 3, breed : 페르시아
**************************************************
name : 나비, age : 2, breed : 페르시아
**************************************************
name : 꾸꾸, age : 1.5, breed : 아메리칸 블리
**************************************************
name : 꾸꾸, age : 1.5, breed : 아메리칸 블리
**************************************************