while
  - 순환횟수와 관계없는경우
  - 특정 조건을 만족할때 까지
  - 예를들어 설정온도 맞추고 해당 온도가 될때까지 시스템 가동

for
  - 시퀀스 자료형의 데이터를 순차적으로 접근할때
  - 순환 횟수가 정해져 있다
  - 설정온도를 맞췄는데.. 시스템을 대략 10번 가동

In [3]:
list_1 = [1,1,2,5,7,8]
list_1

[1, 1, 2, 5, 7, 8]

In [9]:
i = 0
while i < len(list_1):
  print(list_1[i] *5,end = '\t')
  i += 1

5	5	10	25	35	40

In [11]:
for abc in list_1:
  print(abc*5,end='\t')

5	5	10	25	35	40

for 순환문은 자료를 변수로 받아오기때문에 변경이 안된다..

while 형태에서 인덱스방식으로 접근하면 데이터 변경도 가능하다

In [13]:
# while : 사용자로부터 숫자를 계속 입력받아서  그 합이 100을 넘을때 까지 숫자를 입력 받아라

# for 1부터 10 까지 더하세요  1+2+3+4+5+6+7+8+9+10

In [ ]:
total = 0
while True:
  total += int(input("정수입력 : "))
  if total > 100:
    break

In [ ]:
total = 0
while total < 100:
  total += int(input("정수입력 : "))

In [17]:
total = 0
for i in range(1, 11):
  total += i
print(total)

55

continue <-> break

In [20]:
for i in range(10):  
  if i == 5:
    continue
  print(i)
  print("순환문 동작중",i)

0
순환문 동작중 0
1
순환문 동작중 1
2
순환문 동작중 2
3
순환문 동작중 3
4
순환문 동작중 4
6
순환문 동작중 6
7
순환문 동작중 7
8
순환문 동작중 8
9
순환문 동작중 9

In [21]:
for i in range(10):
  if i % 2 == 0:
    continue
  
  print(i)

1
3
5
7
9

In [3]:
for i in range(1,21):
  print(i,end='\t')
  if i % 5 == 0:
    print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20

In [6]:
# 0 -> 1
# 1 -> 6
# 2 -> 11
# 3 -> 16
for i in range(4):
  for j in range((i*5)+1, (i+1)*5+1  ):
    print( j, end='\t' )
  print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20

In [4]:
# *****
# *****
# *****
# *****

# for i in range(4):
#   for j in range(5):
#     print('*',end='')
#   print()
for i in range(4):
  print('*'*5,end='')
  print()


# *
# **
# ***
# ****
# *****
print("="*20)

for i in range(5):
  for j in range(i+1):
    print("*",end='')
  print()

print("="*20)
# *****
# ****
# ***
# **
# *
# 0  5
# 1  4
# 2  3
# 3  2
# 4  1
for i in range(5):
  for j in range(5-i):
    print("*",end='')
  print()

print("="*20)
#0     *      1   3
#1    ***     3   2
#2   *****    5   1
#3  *******   7   0
for i in range(4):
  print(" "*(3-i), end='')
  for j in range(i*2+1):    
    print("*",end='')
  print()

*****
*****
*****
*****
====================
*
**
***
****
*****
====================
*****
****
***
**
*
====================
   *
  ***
 *****
*******

In [16]:
for i in range(4):  # 0 ~ 3
  # for j in range(4-i):# 4,3,2,1
  #   continue
  print(" "*(4-i), "*"*(2*i+1))

j 3
    *
j 2
   ***
j 1
  *****
j 0
 *******

자주 사용하는 라이브러리
  - range
  - map
  - list
  - set
  - tuple
  - dic
  - zip
  - 순환문 for

리스트 컴프리핸션   list comprehansion
  - 단순한 for문을 한줄로 표현해서 가독성을 높이고 성능도 향상
  - for문 안에 한줄의 로직 또는 if를 사용해도 한개의 명령어 if else

In [22]:
# 1 부터 10  1 2 3 4 5 6 7 8 9 10 
list_1 = list(range(1,11))
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# list_1에 각 값에 10을 곱한 값을 가지는 새로운 리스트를 생성
new_list = []
for i in list_1:
  new_list.append(i*10)

new_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [25]:
new_list = [ i*10 for i in list_1 ]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [26]:
[ i for i in list_1 ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
new_list=[]
for i in list_1:
  if i% 2 == 0:
    new_list.append(i)

new_list

[2, 4, 6, 8, 10]

In [28]:
[i for i in list_1 if i%2==0 ]

[2, 4, 6, 8, 10]

In [29]:
new_list=[]
for i in list_1:
  if i%2==0:
    new_list.append(i*2)
  else:
    new_list.append(i)
new_list

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [30]:
[ i*2  if i%2==0 else i  for i in list_1  ]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [2]:
import random

In [4]:
random.randrange(100)

47

In [11]:
# 0 ~ 99 사이의 임의의 숫자 6개를 리스트로 만들어주세요
new_list = []
for _ in range(6):
  new_list.append(random.randrange(100))

new_list

[63, 87, 23, 84, 89, 23]

In [6]:
[random.randrange(100) for i in range(6) ]

[42, 87, 48, 58, 93, 29]

In [7]:
list_1 = list(range(10))
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
random.shuffle(list_1)

In [9]:
list_1

[3, 5, 2, 7, 4, 8, 1, 6, 0, 9]

In [10]:
# 1 - 46 숫자중에 중복되지 않게 6개 의 번호를 가지는 리스트를 5개 만들어주세요.
# range
# random.shuffle
# 리스트 슬라이스
# for

In [32]:
list1 = list(range(10))
list2 = random.shuffle(list1)
print(list1)

[5, 1, 7, 6, 8, 3, 9, 0, 4, 2]

In [23]:
[ random.randrange(100) for i in range(6) ]

[86, 38, 51, 60, 93, 5]

In [34]:
lotterty_result_sum = list()

for _ in range(5):
  lotterty_result = list()
  for _ in range(6):
    lottery_num = random.randint(1, 46)
    while lottery_num in lotterty_result:
      lottery_num = random.randint(1, 46)
    
    lotterty_result.append(lottery_num)  
  
  lotterty_result.sort()
  lotterty_result_sum.append(lotterty_result)
  

lotterty_result_sum

[[12, 20, 29, 31, 36, 41],
 [17, 24, 26, 32, 36, 42],
 [6, 14, 27, 33, 35, 43],
 [16, 22, 23, 37, 42, 46],
 [16, 24, 25, 26, 40, 45]]

In [37]:
# 카드섞기...
# 중복되지 않는 카드르 섞어서 나눠주면...
list1 = list(range(1,46))
random.shuffle(list1)
print(list1)

[18, 34, 31, 35, 11, 40, 14, 17, 39, 7, 44, 41, 37, 13, 25, 26, 4, 24, 43, 33, 30, 21, 19, 29, 15, 1, 6, 22, 42, 20, 10, 36, 9, 23, 16, 27, 8, 28, 38, 12, 2, 5, 45, 3, 32]

In [ ]:
total = []
for i in range(5):
  total.append( list1[i*6:i*6+6]  )
total

In [41]:
[ list1[i*6:i*6+6] for i in range(5)  ]

[[18, 34, 31, 35, 11, 40],
 [14, 17, 39, 7, 44, 41],
 [37, 13, 25, 26, 4, 24],
 [43, 33, 30, 21, 19, 29],
 [15, 1, 6, 22, 42, 20]]

In [ ]:
list_1 = list(range(1,43))
random.shuffle(list_1)
[list_1[i*6 : i*6+6]  for i in list(range(0,5))]

In [58]:
# 리스트, 딕션너리, 순환문, 랜덤 choice

# 어느학급에 반장선거를 한다... 
# 후보자는 다음과 같다
candidate = ["김씨","이씨","박씨","최씨","홍씨"]
# 학급학생은 20명이고  각 학생이 한명의 후보한테 투표를 한다고 하면
# 랜덤함수를 이용해서 각 후보에대해 투표를 하고   random.choice(candidate)
# 당성자를 출력
# hint  딕션너리 구조를 충분히 활용

# 투표 dictionary 만들기
vote_dic = {}
for name in candidate:
  vote_dic[name] = 0

# 순환문을 이용해서   candidate중에 한명을 선택해서 dictionary의 키로 접근한다
for i in range(20):
  vote_name = random.choice(candidate)
  vote_dic[vote_name] += 1

# 당선자이름을 저장할 변수와  최대값을 담는 변수 만들어서
# dictoinary를 순환하면서 값이 큰 값을 만날때마다 이름을 업데이트한다.
win_name, max_vote = candidate[0], vote_dic[candidate[0]]
for key,value in vote_dic.items():
  if value > max_vote:
    max_vote = value
    win_name = key

In [59]:
print(f"개표결과 : {vote_dic}")
print(f"당선자 : {win_name}")

개표결과 : {'김씨': 8, '이씨': 4, '박씨': 2, '최씨': 4, '홍씨': 2}
당선자 : 김씨

In [62]:
# dic 질문... sort 없다..
# dic   key:value   ==> value를 가지고 key 값을 찾을수 없나?
dic_1 = {"a":10,"b":20,"c":30,"d":20}
# 값이 20인 key 값을 찾아서 출력해라
for i,j in dic_1.items():
  if j == 20:
    print(i)

[key for key, value in dic_1.items() if value == 20]

b
d

['b', 'd']

In [65]:
dic_1.get("a")

10

In [ ]:
# chat gpt 를 이용해서 파이썬 등수 매기는 프로그램 예제 만들어보고 이해하기

In [70]:
list_1 = [ random.randrange(100) for i in range(5)]
list_1

[79, 13, 89, 10, 40]

In [71]:
max(list_1)

89

In [73]:
names = ['a','b','c','d','e']
dic1 = {}
for key,value in zip(names,list_1):
  dic1[key] = value
dic1

{'a': 79, 'b': 13, 'c': 89, 'd': 10, 'e': 40}

In [75]:
dic1.get('a')

79

In [77]:
max(dic1, key = dic1.get)

'c'

In [81]:
for idx,value in enumerate(list_1):
  print(idx,value)

0 79
1 13
2 89
3 10
4 40

In [ ]:
# 파이썬 성적처리(동일점수)
# 제가 찾은 gpt 답변
scores = [80, 90, 70, 90, 85, 80, 90, 75]
sorted_scores = sorted(scores, reverse=True) # 점수 내림차순 정렬
ranks = [sorted_scores.index(score) + 1 for score in scores] # 등수 계산
result = [(score, rank) for score, rank in zip(scores, ranks)]
result = sorted(result, key=lambda x: x[1])
# [(80, 3), (90, 1), (70, 5), (90, 1), (85, 4), (80, 3), (90, 1), (75, 7)]

In [83]:
scores = [80, 90, 70, 90, 85, 80, 90, 75]
sorted_scores = sorted(scores, reverse=True) # 점수 내림차순 정렬

In [91]:
# rank = []
# for i in scores:
#   rank.append(sorted_scores.index(i)+1)
# rank  

rank = [ sorted_scores.index(i)+1  for i in scores ]
rank

[5, 1, 8, 1, 4, 5, 1, 7]

In [93]:
[ (a,b) for a,b in zip(scores,rank)]

[(80, 5), (90, 1), (70, 8), (90, 1), (85, 4), (80, 5), (90, 1), (75, 7)]

In [94]:
# 1. 내림차순으로 점수를 정렬하고
# 2. 원래 점수를 내림차순으로 정렬된 리스트에서 몇번째 인덱스인지 index()를 이용해서 찾는다. 그게 등수다
scores = [80, 90, 70, 90, 85, 80, 90, 75]
sorted_scores = sorted(scores, reverse=True) # 점수 내림차순 정렬
rank = [ sorted_scores.index(i)+1  for i in scores ]

In [102]:
scores = [80, 90, 70, 90, 85, 80, 90, 75]
rank = [1]* len(scores)

In [103]:
# 자기자신을 리스트의 나머지 값들과 순차적으로 비교하면서 큰 값이 발견되면 등수를 증가시킨다
for i  in range(len(scores)):
  for j  in range(len(scores)):
    if scores[i] < scores[j]:
      rank[i] += 1

객체 : Object
   - 단일값으로 이루어진 변수가 아니라. 하나이상의 집합성 데이터및 함수를 포함한다
   - 그래서 변수. --> 하면 여러개 나온다.. 그럼 객체이다.
   - 여기서 변수. 에서 .을   (dot)연산자라고 한다.
   - 독립적이다.
   - 가지고 있는 데이터가 같다고 해서 같지않다

In [105]:
import random
list_1 = [ random.randrange(100)  for i in range(10)  ]

In [159]:
# 복사는 얕은 복사 : 객체의 주속 같다
list1 = [ [1,2] ]
list2 = list1 # 완전히 두개의 변수를 같게 만드는 것
list2 = list1[:] # 얕은복사
list2 = list1.copy() # 얕은복사
print("shallow copy :", id(list1[0]), id(list2[0]))

# 깊은 복사 : 다르다
import copy
list2 = copy.deepcopy(list1)
print("deep copy:",id(list1[0]), id(list2[0]))

앝은복사: 139862972281536 139862972281536
깊은복사: 139862972281536 139862971916416

In [164]:
for num in range(1,10): # 1 ~ 9
  for dan in range(2,10) : # 2 ~ 9 
    print(f"{dan} x {num} = {dan*num}", end='\t')
  print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [166]:
# 0~100 사이의 임의 수를 컴퓨터가  선택

# 10번의 기회를 준다
# 추측한 값이 내가 제시한 값을 기준으로 컴퓨터가 선택한 값보다 크면 크다 작으면 작다 를 표시
# 맞추면 몇번만에 맞췄는지 횟수를 출력
comnum = random.randrange(100)
for i in range(10):
  num = int(input('정수 입력: '))
  if num == comnum:
    print(f"정답입니다. 시도횟수 : {i+1}")
    break
  elif num > comnum:
    print("크다")
  else:
    print("작다")

정수 입력: 50
작다
정수 입력: 75
크다
정수 입력: 60
작다
정수 입력: 65
작다
정수 입력: 70
크다
정수 입력: 62
작다
정수 입력: 67
정답입니다. 시도횟수 : 7