while
  - 순환횟수와 관계없는경우
  - 특정 조건을 만족할때 까지
  - 예를들어 설정온도 맞추고 해당 온도가 될때까지 시스템 가동

for
  - 시퀀스 자료형의 데이터를 순차적으로 접근할때
  - 순환 횟수가 정해져 있다
  - 설정온도를 맞췄는데.. 시스템을 대략 10번 가동

In [3]:
list_1 = [1,1,2,5,7,8]
list_1

[1, 1, 2, 5, 7, 8]

In [9]:
i = 0
while i < len(list_1):
  print(list_1[i] *5,end = '\t')
  i += 1

5	5	10	25	35	40

In [11]:
for abc in list_1:
  print(abc*5,end='\t')

5	5	10	25	35	40

for 순환문은 자료를 변수로 받아오기때문에 변경이 안된다..

while 형태에서 인덱스방식으로 접근하면 데이터 변경도 가능하다

In [13]:
# while : 사용자로부터 숫자를 계속 입력받아서  그 합이 100을 넘을때 까지 숫자를 입력 받아라

# for 1부터 10 까지 더하세요  1+2+3+4+5+6+7+8+9+10

In [ ]:
total = 0
while True:
  total += int(input("정수입력 : "))
  if total > 100:
    break

In [ ]:
total = 0
while total < 100:
  total += int(input("정수입력 : "))

In [17]:
total = 0
for i in range(1, 11):
  total += i
print(total)

55

continue <-> break

In [20]:
for i in range(10):  
  if i == 5:
    continue
  print(i)
  print("순환문 동작중",i)

0
순환문 동작중 0
1
순환문 동작중 1
2
순환문 동작중 2
3
순환문 동작중 3
4
순환문 동작중 4
6
순환문 동작중 6
7
순환문 동작중 7
8
순환문 동작중 8
9
순환문 동작중 9

In [21]:
for i in range(10):
  if i % 2 == 0:
    continue
  
  print(i)

1
3
5
7
9

In [3]:
for i in range(1,21):
  print(i,end='\t')
  if i % 5 == 0:
    print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20

In [6]:
# 0 -> 1
# 1 -> 6
# 2 -> 11
# 3 -> 16
for i in range(4):
  for j in range((i*5)+1, (i+1)*5+1  ):
    print( j, end='\t' )
  print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20

In [4]:
# *****
# *****
# *****
# *****

# for i in range(4):
#   for j in range(5):
#     print('*',end='')
#   print()
for i in range(4):
  print('*'*5,end='')
  print()


# *
# **
# ***
# ****
# *****
print("="*20)

for i in range(5):
  for j in range(i+1):
    print("*",end='')
  print()

print("="*20)
# *****
# ****
# ***
# **
# *
# 0  5
# 1  4
# 2  3
# 3  2
# 4  1
for i in range(5):
  for j in range(5-i):
    print("*",end='')
  print()

print("="*20)
#0     *      1   3
#1    ***     3   2
#2   *****    5   1
#3  *******   7   0
for i in range(4):
  print(" "*(3-i), end='')
  for j in range(i*2+1):    
    print("*",end='')
  print()

*****
*****
*****
*****
====================
*
**
***
****
*****
====================
*****
****
***
**
*
====================
   *
  ***
 *****
*******

In [16]:
for i in range(4):  # 0 ~ 3
  # for j in range(4-i):# 4,3,2,1
  #   continue
  print(" "*(4-i), "*"*(2*i+1))

j 3
    *
j 2
   ***
j 1
  *****
j 0
 *******

자주 사용하는 라이브러리
  - range
  - map
  - list
  - set
  - tuple
  - dic
  - zip
  - 순환문 for

리스트 컴프리핸션   list comprehansion
  - 단순한 for문을 한줄로 표현해서 가독성을 높이고 성능도 향상
  - for문 안에 한줄의 로직 또는 if를 사용해도 한개의 명령어 if else

In [22]:
# 1 부터 10  1 2 3 4 5 6 7 8 9 10 
list_1 = list(range(1,11))
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# list_1에 각 값에 10을 곱한 값을 가지는 새로운 리스트를 생성
new_list = []
for i in list_1:
  new_list.append(i*10)

new_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [25]:
new_list = [ i*10 for i in list_1 ]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [26]:
[ i for i in list_1 ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
new_list=[]
for i in list_1:
  if i% 2 == 0:
    new_list.append(i)

new_list

[2, 4, 6, 8, 10]

In [28]:
[i for i in list_1 if i%2==0 ]

[2, 4, 6, 8, 10]

In [29]:
new_list=[]
for i in list_1:
  if i%2==0:
    new_list.append(i*2)
  else:
    new_list.append(i)
new_list

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [30]:
[ i*2  if i%2==0 else i  for i in list_1  ]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]