while
  - 순환횟수와 관계없는경우
  - 특정 조건을 만족할때 까지
  - 예를들어 설정온도 맞추고 해당 온도가 될때까지 시스템 가동

for
  - 시퀀스 자료형의 데이터를 순차적으로 접근할때
  - 순환 횟수가 정해져 있다
  - 설정온도를 맞췄는데.. 시스템을 대략 10번 가동

In [3]:
list_1 = [1,1,2,5,7,8]
list_1

[1, 1, 2, 5, 7, 8]

In [9]:
i = 0
while i < len(list_1):
  print(list_1[i] *5,end = '\t')
  i += 1

5	5	10	25	35	40

In [11]:
for abc in list_1:
  print(abc*5,end='\t')

5	5	10	25	35	40

for 순환문은 자료를 변수로 받아오기때문에 변경이 안된다..

while 형태에서 인덱스방식으로 접근하면 데이터 변경도 가능하다

In [13]:
# while : 사용자로부터 숫자를 계속 입력받아서  그 합이 100을 넘을때 까지 숫자를 입력 받아라

# for 1부터 10 까지 더하세요  1+2+3+4+5+6+7+8+9+10

In [ ]:
total = 0
while True:
  total += int(input("정수입력 : "))
  if total > 100:
    break

In [ ]:
total = 0
while total < 100:
  total += int(input("정수입력 : "))

In [17]:
total = 0
for i in range(1, 11):
  total += i
print(total)

55

continue <-> break

In [20]:
for i in range(10):  
  if i == 5:
    continue
  print(i)
  print("순환문 동작중",i)

0
순환문 동작중 0
1
순환문 동작중 1
2
순환문 동작중 2
3
순환문 동작중 3
4
순환문 동작중 4
6
순환문 동작중 6
7
순환문 동작중 7
8
순환문 동작중 8
9
순환문 동작중 9

In [21]:
for i in range(10):
  if i % 2 == 0:
    continue
  
  print(i)

1
3
5
7
9

In [3]:
for i in range(1,21):
  print(i,end='\t')
  if i % 5 == 0:
    print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20

In [6]:
# 0 -> 1
# 1 -> 6
# 2 -> 11
# 3 -> 16
for i in range(4):
  for j in range((i*5)+1, (i+1)*5+1  ):
    print( j, end='\t' )
  print()

1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20

In [4]:
# *****
# *****
# *****
# *****

# for i in range(4):
#   for j in range(5):
#     print('*',end='')
#   print()
for i in range(4):
  print('*'*5,end='')
  print()


# *
# **
# ***
# ****
# *****
print("="*20)

for i in range(5):
  for j in range(i+1):
    print("*",end='')
  print()

print("="*20)
# *****
# ****
# ***
# **
# *
# 0  5
# 1  4
# 2  3
# 3  2
# 4  1
for i in range(5):
  for j in range(5-i):
    print("*",end='')
  print()

print("="*20)
#0     *      1   3
#1    ***     3   2
#2   *****    5   1
#3  *******   7   0
for i in range(4):
  print(" "*(3-i), end='')
  for j in range(i*2+1):    
    print("*",end='')
  print()

*****
*****
*****
*****
====================
*
**
***
****
*****
====================
*****
****
***
**
*
====================
   *
  ***
 *****
*******

In [16]:
for i in range(4):  # 0 ~ 3
  # for j in range(4-i):# 4,3,2,1
  #   continue
  print(" "*(4-i), "*"*(2*i+1))

j 3
    *
j 2
   ***
j 1
  *****
j 0
 *******

자주 사용하는 라이브러리
  - range
  - map
  - list
  - set
  - tuple
  - dic
  - zip
  - 순환문 for

리스트 컴프리핸션   list comprehansion
  - 단순한 for문을 한줄로 표현해서 가독성을 높이고 성능도 향상
  - for문 안에 한줄의 로직 또는 if를 사용해도 한개의 명령어 if else

In [22]:
# 1 부터 10  1 2 3 4 5 6 7 8 9 10 
list_1 = list(range(1,11))
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# list_1에 각 값에 10을 곱한 값을 가지는 새로운 리스트를 생성
new_list = []
for i in list_1:
  new_list.append(i*10)

new_list

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [25]:
new_list = [ i*10 for i in list_1 ]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [26]:
[ i for i in list_1 ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
new_list=[]
for i in list_1:
  if i% 2 == 0:
    new_list.append(i)

new_list

[2, 4, 6, 8, 10]

In [28]:
[i for i in list_1 if i%2==0 ]

[2, 4, 6, 8, 10]

In [29]:
new_list=[]
for i in list_1:
  if i%2==0:
    new_list.append(i*2)
  else:
    new_list.append(i)
new_list

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [30]:
[ i*2  if i%2==0 else i  for i in list_1  ]

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

In [2]:
import random

In [4]:
random.randrange(100)

47

In [11]:
# 0 ~ 99 사이의 임의의 숫자 6개를 리스트로 만들어주세요
new_list = []
for _ in range(6):
  new_list.append(random.randrange(100))

new_list

[63, 87, 23, 84, 89, 23]

In [6]:
[random.randrange(100) for i in range(6) ]

[42, 87, 48, 58, 93, 29]

In [7]:
list_1 = list(range(10))
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
random.shuffle(list_1)

In [9]:
list_1

[3, 5, 2, 7, 4, 8, 1, 6, 0, 9]

In [10]:
# 1 - 46 숫자중에 중복되지 않게 6개 의 번호를 가지는 리스트를 5개 만들어주세요.
# range
# random.shuffle
# 리스트 슬라이스
# for

In [32]:
list1 = list(range(10))
list2 = random.shuffle(list1)
print(list1)

[5, 1, 7, 6, 8, 3, 9, 0, 4, 2]

In [23]:
[ random.randrange(100) for i in range(6) ]

[86, 38, 51, 60, 93, 5]

In [34]:
lotterty_result_sum = list()

for _ in range(5):
  lotterty_result = list()
  for _ in range(6):
    lottery_num = random.randint(1, 46)
    while lottery_num in lotterty_result:
      lottery_num = random.randint(1, 46)
    
    lotterty_result.append(lottery_num)  
  
  lotterty_result.sort()
  lotterty_result_sum.append(lotterty_result)
  

lotterty_result_sum

[[12, 20, 29, 31, 36, 41],
 [17, 24, 26, 32, 36, 42],
 [6, 14, 27, 33, 35, 43],
 [16, 22, 23, 37, 42, 46],
 [16, 24, 25, 26, 40, 45]]

In [37]:
# 카드섞기...
# 중복되지 않는 카드르 섞어서 나눠주면...
list1 = list(range(1,46))
random.shuffle(list1)
print(list1)

[18, 34, 31, 35, 11, 40, 14, 17, 39, 7, 44, 41, 37, 13, 25, 26, 4, 24, 43, 33, 30, 21, 19, 29, 15, 1, 6, 22, 42, 20, 10, 36, 9, 23, 16, 27, 8, 28, 38, 12, 2, 5, 45, 3, 32]

In [ ]:
total = []
for i in range(5):
  total.append( list1[i*6:i*6+6]  )
total

In [41]:
[ list1[i*6:i*6+6] for i in range(5)  ]

[[18, 34, 31, 35, 11, 40],
 [14, 17, 39, 7, 44, 41],
 [37, 13, 25, 26, 4, 24],
 [43, 33, 30, 21, 19, 29],
 [15, 1, 6, 22, 42, 20]]

In [ ]:
list_1 = list(range(1,43))
random.shuffle(list_1)
[list_1[i*6 : i*6+6]  for i in list(range(0,5))]

In [58]:
# 리스트, 딕션너리, 순환문, 랜덤 choice

# 어느학급에 반장선거를 한다... 
# 후보자는 다음과 같다
candidate = ["김씨","이씨","박씨","최씨","홍씨"]
# 학급학생은 20명이고  각 학생이 한명의 후보한테 투표를 한다고 하면
# 랜덤함수를 이용해서 각 후보에대해 투표를 하고   random.choice(candidate)
# 당성자를 출력
# hint  딕션너리 구조를 충분히 활용

# 투표 dictionary 만들기
vote_dic = {}
for name in candidate:
  vote_dic[name] = 0

# 순환문을 이용해서   candidate중에 한명을 선택해서 dictionary의 키로 접근한다
for i in range(20):
  vote_name = random.choice(candidate)
  vote_dic[vote_name] += 1

# 당선자이름을 저장할 변수와  최대값을 담는 변수 만들어서
# dictoinary를 순환하면서 값이 큰 값을 만날때마다 이름을 업데이트한다.
win_name, max_vote = candidate[0], vote_dic[candidate[0]]
for key,value in vote_dic.items():
  if value > max_vote:
    max_vote = value
    win_name = key

In [59]:
print(f"개표결과 : {vote_dic}")
print(f"당선자 : {win_name}")

개표결과 : {'김씨': 8, '이씨': 4, '박씨': 2, '최씨': 4, '홍씨': 2}
당선자 : 김씨