In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/leekyuyoung20230313/pythone/main/datas/spotify_dataset.csv')
df = df.drop(columns=['Index'])
df.head()

,Highest Charting Position,Number of Times Charted,Week of Highest Charting,Song Name,Streams,Artist,Artist Followers,Song ID,Genre,Release Date,...,Danceability,Energy,Loudness,Speechiness,Acousticness,Liveness,Tempo,Duration (ms),Valence,Chord
0,1,8,2021-07-23--2021-07-30,Beggin',"48,633,449",Måneskin,3377762,3Wrjm47oTz2sjIgck11l5e,"['indie rock italiano', 'italian pop']",2017-12-08,...,0.714,0.8,-4.808,0.0504,0.127,0.359,134.002,211560,0.589,B
1,2,3,2021-07-23--2021-07-30,STAY (with Justin Bieber),"47,248,719",The Kid LAROI,2230022,5HCyWlXZPP0y6Gqq8TgA20,['australian hip hop'],2021-07-09,...,0.591,0.764,-5.484,0.0483,0.0383,0.103,169.928,141806,0.478,C#/Db
2,1,11,2021-06-25--2021-07-02,good 4 u,"40,162,559",Olivia Rodrigo,6266514,4ZtFanR9U6ndgddUvNcjcG,['pop'],2021-05-21,...,0.563,0.664,-5.044,0.154,0.335,0.0849,166.928,178147,0.688,A
3,3,5,2021-07-02--2021-07-09,Bad Habits,"37,799,456",Ed Sheeran,83293380,6PQ88X9TkUIAUIZJHW2upE,"['pop', 'uk pop']",2021-06-25,...,0.808,0.897,-3.712,0.0348,0.0469,0.364,126.026,231041,0.591,B
4,5,1,2021-07-23--2021-07-30,INDUSTRY BABY (feat. Jack Harlow),"33,948,454",Lil Nas X,5473565,27NovPIUIRrOZoCHxABJwK,"['lgbtq+ hip hop', 'pop rap']",2021-07-23,...,0.736,0.704,-7.409,0.0615,0.0203,0.0501,149.995,212000,0.894,D#/Eb

In [ ]:
# 데이터 구조를 확인하는 함수들..
df.index
df.columns
df.values
df.shape
df.info()
df.describe()

In [ ]:
#특정 컬럼의 데이터를 조회
df['Artist'] # 시리즈
df[['Artist']] # 데이터 프레임

In [20]:
# Artist가 BTS인 데이터 검색
df[df['Artist'].str.upper() == 'BTS']['Song Name'].unique()

array(['Permission to Dance', 'Butter', 'Dynamite', 'Life Goes On',
       'Boy With Luv (feat. Halsey)', 'Butter (Instrumental)', 'Film out',
       'Blue & Grey', 'Fly To My Room', 'Telepathy', 'Dis-ease', 'Stay',
       'Skit', 'ON', 'Stay Gold', 'Black Swan', 'ON (Feat. Sia)',
       'Filter', 'My Time', 'Louder than bombs', 'UGH!',
       '00:00 (Zero O’Clock)', 'Friends',
       'We are Bulletproof : the Eternal', 'Inner Child', 'Moon',
       'Outro : Ego', 'Interlude : Shadow', 'Respect'], dtype=object)

In [10]:
# DataFrame 옵션조정
pd.options.display.max_columns = None

In [ ]:
# BTS의 Popularity 값을 찾아보고 BTS 보다 Popularity 값이 높은 데이터 추출
max_popularity =  df[df['Artist'].str.upper() == 'BTS']['Popularity'].astype(int).max()  
df[pd.to_numeric( df['Popularity'],errors ='coerce') > max_popularity]

In [39]:
# 가장 많은 곡을 가지고 잇는 artist를 추출  (top 20)
df_count_top20 =  df['Artist'].value_counts()[:20]

In [41]:
# 가장 많은 곡을 가지고 잇는 artist를 추출  (top 20) 중에 BTS 가 포함되어 잇는지
'BTS' in df_count_top20

True

In [47]:
# BTS가 몇곡으 수록했는지..
df_count_top20[df_count_top20.index == 'BTS'].values[0]

29

In [48]:
# 데이터 프레임에 함수적용 apply - lambda 필수
# 데이터프레임.apply(lambda 입력값 : 로직 )

In [60]:
# df['Streams']
# 각 요소에 Stream 전체의 중위수 값을 차감
temp = df['Streams'].str.replace(",","").astype(int)
temp.apply(lambda x : x - temp.median())

0       43357701.5
1       41972971.5
2       34886811.5
3       32523708.5
4       28672706.5
           ...
1551     -645072.5
1552     -652717.5
1553     -654871.5
1554     -668362.5
1555     -680297.5
Name: Streams, Length: 1556, dtype: float64