In [3]:
import gdown
gdown.download('https://github.com/leekyuyoung20230313/pythone/blob/main/datas/ns_202104.zip',
               'ns_202104.zip')
!unzip '/content/ns_202104.zip' -d './'

Downloading...
From: https://github.com/leekyuyoung20230313/pythone/blob/main/datas/ns_202104.zip
To: /content/ns_202104.zip
140kB [00:00, 10.2MB/s]

'ns_202104.zip'

In [44]:
import pandas as pd
ns_df = pd.read_csv('./ns_202104.csv')
ns_df = ns_df.iloc[:,:-1]

<ipython-input-44-9aa2b0af56cb>:2: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ns_df = pd.read_csv('./ns_202104.csv')

In [45]:
ns_df.columns

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '부가기호', '권',
       '주제분류번호', '도서권수', '대출건수', '등록일자'],
      dtype='object')

In [46]:
ns_df.drop(columns=['부가기호'],inplace=True)

In [47]:
# 결측치 처리
ns_df.dropna(axis=1, how='all',inplace=True)

In [48]:
# 중복된 데이터   duplicated()
ns_df[ns_df.duplicated()]

Empty DataFrame
Columns: [번호, 도서명, 저자, 출판사, 발행년도, ISBN, 세트 ISBN, 권, 주제분류번호, 도서권수, 대출건수, 등록일자]
Index: []

In [49]:
# key 를 가지고 중복데이터 검색  - 중복데이터는 1건만 표시
ns_df.duplicated(subset=['출판사']).sum()

379767

In [50]:
# 중복데이터 모두 표시
ns_df.duplicated(subset=['출판사'],keep=False).sum()

392981

In [51]:
ns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401682 entries, 0 to 401681
Data columns (total 12 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       401682 non-null  int64
 1   도서명      401279 non-null  object
 2   저자       401481 non-null  object
 3   출판사      396887 non-null  object
 4   발행년도     401665 non-null  object
 5   ISBN     401682 non-null  object
 6   세트 ISBN  61871 non-null   object
 7   권        68267 non-null   object
 8   주제분류번호   381360 non-null  object
 9   도서권수     401682 non-null  int64
 10  대출건수     401682 non-null  int64
 11  등록일자     401682 non-null  object
dtypes: int64(3), object(9)
memory usage: 36.8+ MB

In [54]:
# 도서명, 저자 ,ISBN, 권 별 대출 건수 - groupby
# 수집하는 row에 na 있으면 해당 row 제외
ns_df.groupby(['도서명', '저자' ,'ISBN', '권']).sum()

<ipython-input-54-9f4499652242>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ns_df.groupby(['도서명', '저자' ,'ISBN', '권']).sum()

                                                                                번호  \
도서명                        저자                             ISBN          권
 Insight 영작                조보환 지음                         9788996789871 8   110959
 국역 수원부계록                  수원시화성사업소 [편]                   9788996294450 1   154317
 규칙 혼자서도 잘하는 아이로 길러주는 비법   파멜라 에스페란드;엘리자베스 베르딕 공저 ;강주영 옮김 9788957514337 3   223686
 장동건 =Jang dong gun        김정우,임정식,윤여광,김인구 공저             9788956244365 1   125567
 철학 그리고 현실, 우리 현실 무엇이 문제인가 김태길 지음                         9788977757196 13  149351
...                                                                            ...
林巨正                        고우영 지음                         9788954401319 1   361727
                                                          9788954401326 2   355156
                                                          9788954401333 3   343067
                                                          9788954401340 4   358518
                                                          9788954401357 5   361728

                                                                            도서권수  \
도서명                        저자                             ISBN          권
 Insight 영작                조보환 지음                         9788996789871 8      1
 국역 수원부계록                  수원시화성사업소 [편]                   9788996294450 1      1
 규칙 혼자서도 잘하는 아이로 길러주는 비법   파멜라 에스페란드;엘리자베스 베르딕 공저 ;강주영 옮김 9788957514337 3      1
 장동건 =Jang dong gun        김정우,임정식,윤여광,김인구 공저             9788956244365 1      1
 철학 그리고 현실, 우리 현실 무엇이 문제인가 김태길 지음                         9788977757196 13     1
...                                                                          ...
林巨正                        고우영 지음                         9788954401319 1      2
                                                          9788954401326 2      2
                                                          9788954401333 3      2
                                                          9788954401340 4      2
                                                          9788954401357 5      2

                                                                            대출건수
도서명                        저자                             ISBN          권
 Insight 영작                조보환 지음                         9788996789871 8      7
 국역 수원부계록                  수원시화성사업소 [편]                   9788996294450 1      2
 규칙 혼자서도 잘하는 아이로 길러주는 비법   파멜라 에스페란드;엘리자베스 베르딕 공저 ;강주영 옮김 9788957514337 3      0
 장동건 =Jang dong gun        김정우,임정식,윤여광,김인구 공저             9788956244365 1      2
 철학 그리고 현실, 우리 현실 무엇이 문제인가 김태길 지음                         9788977757196 13     5
...                                                                          ...
林巨正                        고우영 지음                         9788954401319 1     80
                                                          9788954401326 2     78
                                                          9788954401333 3     75
                                                          9788954401340 4     73
                                                          9788954401357 5     75

[63757 rows x 3 columns]

In [55]:
ns_df.groupby(['도서명', '저자' ,'ISBN', '권'],dropna=False).sum()

<ipython-input-55-92c8ae200880>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ns_df.groupby(['도서명', '저자' ,'ISBN', '권'],dropna=False).sum()

                                                                                                번호  \
도서명                                             저자                       ISBN          권
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                   9788955025637 NaN  196447
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김 9788992924146 NaN  228738
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                9788993466089 NaN  208220
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음               9788971728000 NaN   90468
 ,에게                                            이기린(이진희)                 9791196137014 NaN   32496
...                                                                                            ...
NaN                                             히라야마 쯔요시 외 5인            9788997924318 NaN  370878
                                                ？德峰(Yang Defeng)         9788960716957 NaN  370795
                                                NaN                      9788971990155 NaN  317397
                                                                         9788972803997 NaN  391425
                                                                         9788973561537 NaN  392882

                                                                                            도서권수  \
도서명                                             저자                       ISBN          권
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                   9788955025637 NaN     1
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김 9788992924146 NaN     1
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                9788993466089 NaN     2
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음               9788971728000 NaN     2
 ,에게                                            이기린(이진희)                 9791196137014 NaN     1
...                                                                                          ...
NaN                                             히라야마 쯔요시 외 5인            9788997924318 NaN     1
                                                ？德峰(Yang Defeng)         9788960716957 NaN     1
                                                NaN                      9788971990155 NaN     1
                                                                         9788972803997 NaN     1
                                                                         9788973561537 NaN     1

                                                                                            대출건수
도서명                                             저자                       ISBN          권
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                   9788955025637 NaN    38
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김 9788992924146 NaN    10
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                9788993466089 NaN     4
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음               9788971728000 NaN     3
 ,에게                                            이기린(이진희)                 9791196137014 NaN     0
...                                                                                          ...
NaN                                             히라야마 쯔요시 외 5인            9788997924318 NaN     0
                                                ？德峰(Yang Defeng)         9788960716957 NaN     0
                                                NaN                      9788971990155 NaN     2
                                                                         9788972803997 NaN     0
                                                                         9788973561537 NaN     0

[386354 rows x 3 columns]

In [58]:
# ~ 연산자
import numpy as np
temp = np.array([True,True,False])
~temp

array([False, False,  True])