In [88]:
# https://www.data.go.kr/data/15061057/fileData.do
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [89]:
url = 'https://raw.githubusercontent.com/leekyuyoung20230313/pythone/main/%EC%A0%84%EC%B2%98%EB%A6%AC/%EC%A3%BC%ED%83%9D%EB%8F%84%EC%8B%9C%EB%B3%B4%EC%A6%9D%EA%B3%B5%EC%82%AC_%EC%A0%84%EA%B5%AD%20%EC%8B%A0%EA%B7%9C%20%EB%AF%BC%EA%B0%84%EC%95%84%ED%8C%8C%ED%8A%B8%20%EB%B6%84%EC%96%91%EA%B0%80%EA%B2%A9%20%EB%8F%99%ED%96%A5_20220131.csv'
df = pd.read_csv(url,encoding='cp949')
df.head()

  지역명                     규모구분      연도     월 분양가격(제곱미터)
0  서울                     모든면적  2015.0  10.0       5841
1  서울            전용면적 60제곱미터이하  2015.0  10.0       5652
2  서울   전용면적 60제곱미터초과 85제곱미터이하  2015.0  10.0       5882
3  서울  전용면적 85제곱미터초과 102제곱미터이하  2015.0  10.0       5721
4  서울           전용면적 102제곱미터초과  2015.0  10.0       5879

In [90]:
# 각 컬럼에 대한 데이터 타입을 조사
df = df.dropna(how='all') # 모든 row가 null인 데이터만 삭제
df[df['분양가격(제곱미터)'].isna()].head() # 확인용

    지역명                     규모구분      연도    월 분양가격(제곱미터)
368  광주  전용면적 85제곱미터초과 102제곱미터이하  2016.0  2.0        NaN
369  광주           전용면적 102제곱미터초과  2016.0  2.0        NaN
374  대전           전용면적 102제곱미터초과  2016.0  2.0        NaN
388  강원  전용면적 85제곱미터초과 102제곱미터이하  2016.0  2.0        NaN
421  제주            전용면적 60제곱미터이하  2016.0  2.0        NaN

In [91]:
df['연도'] = df['연도'].astype(str)
df['월'] = df['월'].astype(str)

In [92]:
df['분양가격(제곱미터)'] = pd.to_numeric(df['분양가격(제곱미터)'] , errors = 'coerce') # 바꿀수 없는 타입을 만나면 na로 변경하고 처리

In [95]:
df['평당분양가격'] = df['분양가격(제곱미터)'] * 3.3

In [98]:
df.describe(include='all')

         지역명  규모구분      연도     월    분양가격(제곱미터)        평당분양가격
count   6460  6460    6460  6460   5940.000000   5940.000000
unique    17     5       8    12           NaN           NaN
top       서울  모든면적  2016.0  10.0           NaN           NaN
freq     380  1292    1020   595           NaN           NaN
mean     NaN   NaN     NaN   NaN   3500.593939  11551.960000
std      NaN   NaN     NaN   NaN   1432.953236   4728.745678
min      NaN   NaN     NaN   NaN   1868.000000   6164.400000
25%      NaN   NaN     NaN   NaN   2596.000000   8566.800000
50%      NaN   NaN     NaN   NaN   3104.000000  10243.200000
75%      NaN   NaN     NaN   NaN   3957.250000  13058.925000
max      NaN   NaN     NaN   NaN  13835.000000  45655.500000

In [99]:
# 결측치를 채우는 방법?
df.head()

  지역명                     규모구분      연도     월  분양가격(제곱미터)   평당분양가격
0  서울                     모든면적  2015.0  10.0      5841.0  19275.3
1  서울            전용면적 60제곱미터이하  2015.0  10.0      5652.0  18651.6
2  서울   전용면적 60제곱미터초과 85제곱미터이하  2015.0  10.0      5882.0  19410.6
3  서울  전용면적 85제곱미터초과 102제곱미터이하  2015.0  10.0      5721.0  18879.3
4  서울           전용면적 102제곱미터초과  2015.0  10.0      5879.0  19400.7