조건문
  - if ~ elif ~ else
  - switch 지원안함
반복문
  - while
  - for   --> 사용빈도수가 많다.
    - 리스트 컴프리핸선

![image.png]()

In [2]:
list_1 = [1,5,7,3]
maxlist =  max(list_1)
maxlist

7

In [5]:
a = sorted(list_1)
a

[1, 3, 5, 7]

In [6]:
list_1.sort()

In [7]:
import random
random.shuffle(list_1)

함수의 사용 목적은
  - 코드의 재 사용
  - 유지보수 및 코드의 간결성을 위해

In [8]:
def menu():
  print("1. 이름을 입력하세요")
  print("2. 점수를 입력하세요")
  print("3. 결과를 출력합니다.")

In [10]:
menu()

1. 이름을 입력하세요
2. 점수를 입력하세요
3. 결과를 출력합니다.

In [18]:
def add(x,y):
  return x+y

In [ ]:
result =  add(10,20)

In [20]:
for x in [1,2,3]:
  pass

In [21]:
x

3

In [22]:
for i in [1,2,3]:
  for j in [10,20,30]:
    pass

In [23]:
i, j

(3, 30)

In [26]:
def minus(a,b):
  return a-b
def multi(a,b):
  return a*b
def divide(a,b):
  if b != 0:            
    return a/b     
  print("0으로 나눌수 없습니다. ")
  b = int(input("0이 아닌 숫자를 입력하세요"))
  return a/b

In [27]:
divide(10,0)

0으로 나눌수 없습니다.
0이 아닌 숫자를 입력하세요2

5.0

In [28]:
# 사용자로부터 나이를 입력받는다.(1 ~ 150) - 조건문과 순환문  isdigit()
# 성인(20세 이상)이면 요금이 15000 이고 청소년이면 8000(12~19) - 조건문
# 그밖이 연령은 3000원을 받는다 -적당한변수
# 영업이 종료되면 결산을한다.  -프린트
# 성인  청소년  그외  \t 을 end옵션에 넣어서 적절히 표현
#  5      10      2
# 75,000  80,000   6,000
# total : 161,000원

In [ ]:
def getAge():
  '''숫자만 입력받로 값의 범위는 1 ~ 150'''
  while True:
    age = input("나이를 입력하세요:")
    if age.isdigit() and 1 <= int(age) <=150:      
      return int(age)

def checkAge(age, enternum):
  '''age:나이 , enternum:딕셔너리'''
  if age >= 20:
    enternum['adult'] += 1
  elif age>=12:
    enternum['teenager'] += 1
  else:
    enternum['etc'] += 1   

def showResult(enternum):  
  '''enternum:딕셔너리를 받아서 출력'''
  print("성인\t청소년\t그외")    
  print(f"{enternum['adult']}\t{enternum['teenager']}\t{enternum['etc']}")
  print(f"{enternum['adult']*15000}\t{enternum['teenager']*8000}\t{enternum['etc']*3000}")
  total = enternum['adult']*15000+enternum['teenager']*8000+enternum['etc']*3000
  print(f"total = {total}")

In [ ]:
# 10명 정원이고 정원을 꽉 채웠다고 하면
enternum = {"adult":0, "teenager":0, "etc":0}
for _  in range(5):    
  age = getAge()
  checkAge(age,enternum)  
  showResult(enternum)

함수의 매개변수(parameter), 인수(agument)
  - 함수에 전달되는 값

In [32]:
def add(a,b):
  return a+b

In [ ]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
print

In [51]:
#함수의 4가지 case
#1 파라메터도 없고 리턴도 없다
from datetime import datetime

def showCurrentTime():
  print("현재시간:",datetime.now())

def getCurrentTime():
  return datetime.now()

def showFormattedCuttentTime(formatted):
  '''%Y-%m-%d %H:%M:%S'''
  now = datetime.now()
  print(now.strftime(formatted))

def getFormattedCuttentTime(formatted):
  '''%Y-%m-%d %H:%M:%S'''
  now = datetime.now()
  return now.strftime(formatted)

In [52]:
showFormattedCuttentTime('%Y-%m-%d')

2023-03-23

In [54]:
list1 = [0]
list2 = list1

In [58]:
# 나누기 함수: 결과를 리턴하는 함수
def divide(x,y,result):  
  if y == 0:
    return False
  else:
    result[0] = x / y
    return True

In [61]:
x = 10; y = 0 ;result = [0]
if (divide(x,y,result) ):
  print(result[0])
else:
  print("계산실패, y값을 확인하세요")

계산실패, y값을 확인하세요