In [1]:
import random as r
import turtle as t

In [2]:
def recursive(data):  
  data += 1
  print("data:",data)   
  if data == 3:    
    return data   
  return data + recursive(data)

In [3]:
print(recursive(0))

data: 1
data: 2
data: 3
6

In [4]:
def factorial(n):
  if n == 1:
    return 1
  return n*factorial(n-1)

In [5]:
factorial(5)

120

In [6]:
number = int(input("펙토리얼 숫자를 입력하세요"))
print(f"{number} 펙토리얼은 {factorial(number)} 입니다.")

펙토리얼 숫자를 입력하세요5
5 펙토리얼은 120 입니다.

키워드 매개변수

In [7]:
def calc4(num1,num2,op='+'):
  if op == '+':
    return num1 + num2
  elif op == '-':
    return num1 - num2

In [8]:
print( calc4('-',10,10 ))

None

In [9]:
print( calc4(num1 = 20, num2 = 10, op='-') )

10

In [10]:
print( calc4(10,20))

30

In [11]:
def myfunc(a):
  print(a)

In [12]:
def myfunc(a,b=""):
  print(a,b)

In [13]:
myfunc(10,20)

10 20

In [14]:
def add(a=0,b=0,c=0,d=0,e=0,f=0):
  return a+b+c+d+e+f

In [15]:
print( add (10,20,30,40) )

100

디폴트 매개변수와 일반 매개변수를 같이 사용하는 경우

In [16]:
def myfunc(a, b = 0, c = 0):
  pass

In [17]:
myfunc(1,2)

가변 매개변수

In [18]:
def myfunc(*datas):  # 튜플형태로 들어옴
  print(type(datas), datas)
  # for i in datas:
  #   print(i)

In [19]:
myfunc(1,2,3,4,5)

<class 'tuple'> (1, 2, 3, 4, 5)

In [20]:
lists = [1,2,3,'100','200','홍길동',12.5,25.3, [1,2,3],(1,2,3),{'a':1,'b':2}]

In [22]:
# 집합에서 정수만 추출하는 함수
def findInt(*datas):
  for i in datas:
    if type(i) == int:
      print(i)

In [23]:
findInt(1,2,3,'100','200','홍길동',12.5,25.3, [1,2,3],(1,2,3),{'a':1,'b':2})

1
2
3

일반변수와 가변매개변수가 같이 사용하는 경우

In [29]:
def myfunc(*datas,a):
  print(datas,a)

In [39]:
myfunc(1, 2,3,4,a= 5)

(1, 2, 3, 4) 5

In [40]:
myfunc(1, 2,3,4,5)

TypeError: ignored

일반매개변수, 디폴트매개변수, 가변매개변수

In [44]:
def myfunc(a, b = 0, *c):
  print(a,b,c)

In [48]:
def myfunc(a, *b, c = 0):
  print(a,b,c)

In [49]:
myfunc(1,2,3,4,5)

1 (2, 3, 4, 5) 0

In [50]:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
# 일반매개변수, 가변매개변수, 디폴트 매개변수