In [1]:
from bs4 import BeautifulSoup
import urllib.request

In [23]:
pdResult = []

In [ ]:
import pandas as pd
from tqdm import tqdm
for pagenum in tqdm(range(1,100)):
  try:    
    url = f'https://www.hollys.co.kr/store/korea/korStore2.do?pageNo={pagenum}'
    print(url)
    html = urllib.request.urlopen(url)
    soup = BeautifulSoup(html,'html.parser')
    tag_all_tr = soup.select("div.tableType01 > table > tbody > tr")
    result = []
    for tag in tag_all_tr:
      tag_td_all = tag.find_all('td')    
      templist = []
      if len(tag_td_all) < 2:
        raise Exception('등록된 매장이 없습니다.')
      for i in tag_td_all:
        templist.append(i.string)    
      result.append(templist)
    pdResult.append(pd.DataFrame(result))
  except Exception as e:
    print(e)
    break

In [46]:
df = pd.concat(pdResult)
df = df.reset_index(drop=True)
df.head()

,0,1,2,3,4,5
0,서울 광진구,강변역점,영업중,"서울 광진구 구의강변로 64, 구의아크로리버 1층 구의동 589-10",\n,070-7802-0303
1,제주 서귀포시,서귀포대정점,영업중,제주특별자치도 서귀포시 대정읍 하모상가로 43 (제주은행) 하모리 918-6,None,064-792-6106
2,서울 양천구,목동삼성쉐르빌점,영업중,"서울특별시 양천구 목동동로 189 (신정동, 삼성쉐르빌1) 1층 101,102,103호",None,02-2652-2030
3,서울 마포구,신촌역점,영업중,"서울특별시 마포구 신촌로 88 (노고산동, 태영빌딩) 2층",\n,02-325-7588
4,울산 중구,울산국가정원점,영업중,울산광역시 중구 태화강국가정원길 201 (태화동) .,None,052-245-8497

In [48]:
df.columns = ['지역'	,'매장명',	'현황',	'주소',	'매장 서비스'	,'전화번호']
df = df.set_index('매장명', drop=True)
df.head()

,지역,현황,주소,매장 서비스,전화번호
매장명,,,,,
강변역점,서울 광진구,영업중,"서울 광진구 구의강변로 64, 구의아크로리버 1층 구의동 589-10",\n,070-7802-0303
서귀포대정점,제주 서귀포시,영업중,제주특별자치도 서귀포시 대정읍 하모상가로 43 (제주은행) 하모리 918-6,None,064-792-6106
목동삼성쉐르빌점,서울 양천구,영업중,"서울특별시 양천구 목동동로 189 (신정동, 삼성쉐르빌1) 1층 101,102,103호",None,02-2652-2030
신촌역점,서울 마포구,영업중,"서울특별시 마포구 신촌로 88 (노고산동, 태영빌딩) 2층",\n,02-325-7588
울산국가정원점,울산 중구,영업중,울산광역시 중구 태화강국가정원길 201 (태화동) .,None,052-245-8497

In [50]:
df = df.drop(['매장 서비스'], axis=1)
df.head()

,지역,현황,주소,전화번호
매장명,,,,
강변역점,서울 광진구,영업중,"서울 광진구 구의강변로 64, 구의아크로리버 1층 구의동 589-10",070-7802-0303
서귀포대정점,제주 서귀포시,영업중,제주특별자치도 서귀포시 대정읍 하모상가로 43 (제주은행) 하모리 918-6,064-792-6106
목동삼성쉐르빌점,서울 양천구,영업중,"서울특별시 양천구 목동동로 189 (신정동, 삼성쉐르빌1) 1층 101,102,103호",02-2652-2030
신촌역점,서울 마포구,영업중,"서울특별시 마포구 신촌로 88 (노고산동, 태영빌딩) 2층",02-325-7588
울산국가정원점,울산 중구,영업중,울산광역시 중구 태화강국가정원길 201 (태화동) .,052-245-8497

In [51]:
df.to_csv('./coffe1.csv',encoding='utf-8')