In [7]:
s1 = set([1,2,3,1,2,3,1,2,3])

In [8]:
s1

{1, 2, 3}

In [12]:
# 중복을 허용하지 않는다
list_1 = [10,2,5,1,2,5,1,2,5,1,1,2,2,2]
list_1 = set(list_1)
list_1 = list(list_1)

In [15]:
list_1

[1, 10, 2, 5]

In [16]:
list_1 = [1,2,3,4,5]
list_2 = [3,4,5,6,7]

In [17]:
set_1 = set(list_1)
set_2 = set(list_2)

In [19]:
# 교집합
set_1 & set_2  # 많이 사용 하는 방법
set_1.intersection(set_2)

{3, 4, 5}

In [21]:
# 합집합  - 중복은 제거한다. 
set_1 | set_2  # 많이 사용 하는 방법
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7}

In [22]:
# 차집합
set_1 - set_2 # 많이 사용 하는 방법
set_1.difference(set_2)

{1, 2}