In [1]:
# 1. 이름과 점수를 각각 쌍으로 입력받는다
# 1. 번에서 받은 데이터를 dictionary로 만든다.
# 위의 과정을 3번 반복한다
# 그리고 전체 데이터를 출력한다.
# key 값만 출력한다
# value 값만 출력한다

In [ ]:
result = {}
name = input("이름")
jumsu = int(input("점수"))
result[name] = jumsu

name = input("이름")
jumsu = int(input("점수"))
result[name] = jumsu

name = input("이름")
jumsu = int(input("점수"))
result[name] = jumsu
#############################################################
name, jumsu = input("공백기준으로 이름과 점수").split()
result[name] = jumsu
name, jumsu = input("공백기준으로 이름과 점수").split()
result[name] = jumsu
name, jumsu = input("공백기준으로 이름과 점수").split()
result[name] = jumsu
#############################################################

name = input("공백기준으로 3명의 이름").split()
jumsu = map(int, input("공백기준으로 3명의 점수").split() )
result = {name[0]:jumsu[0], name[1]:jumsu[1], name[2]:jumsu[2]}
#############################################################

result  # 전체 출력

list(result.keys())  #key만 출력
list(result)          #key만 출력

list(result.values) #value만 출력

In [1]:
# 리스트    [  ]
# 튜플 # 변경불가 -- 계산결과를 반한하는 함수를 만들때 사용  (  )
# 딕셔너리   { }