
머신러닝5에서 예측한 보스턴 집값을 선형, 다중, 다항 회귀를 이용해서 예측하고 비교해 보기

In [2]:
import pandas as pd
import numpy as np

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

cols = ["CRIM",     
"ZN"   ,    
  "INDUS"  ,
  "CHAS"   ,
  "NOX"    ,
  "RM"     ,
  "AGE"    ,
  "DIS"    ,
  'RAD'    ,
  "TAX"    ,
  "PTRATIO" ,
  'B' ,       
  "LSTAT"]
df = pd.concat( [pd.DataFrame(data,columns = cols), pd.DataFrame(target,columns = ['MEDV'])],axis=1 )
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
# 모델 선택
lr = LinearRegression()

In [5]:
y = df.iloc[:,-1].to_numpy()

In [28]:
df.corr()[df.corr()>0.3]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,NaN,0.406583,NaN,0.420972,NaN,0.352734,NaN,0.625505,0.582764,NaN,NaN,0.455621,NaN
ZN,NaN,1.000000,NaN,NaN,NaN,0.311991,NaN,0.664408,NaN,NaN,NaN,NaN,NaN,0.360445
INDUS,0.406583,NaN,1.000000,NaN,0.763651,NaN,0.644779,NaN,0.595129,0.720760,0.383248,NaN,0.603800,NaN
CHAS,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NOX,0.420972,NaN,0.763651,NaN,1.000000,NaN,0.731470,NaN,0.611441,0.668023,NaN,NaN,0.590879,NaN
RM,NaN,0.311991,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.695360
AGE,0.352734,NaN,0.644779,NaN,0.731470,NaN,1.000000,NaN,0.456022,0.506456,NaN,NaN,0.602339,NaN
DIS,NaN,0.664408,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
RAD,0.625505,NaN,0.595129,NaN,0.611441,NaN,0.456022,NaN,1.000000,0.910228,0.464741,NaN,0.488676,NaN
TAX,0.582764,NaN,0.720760,NaN,0.668023,NaN,0.506456,NaN,0.910228,1.000000,0.460853,NaN,0.543993,NaN
PTRATIO,NaN,NaN,0.383248,NaN,NaN,NaN,NaN,NaN,0.464741,0.460853,1.000000,NaN,0.374044,NaN
B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.333461
LSTAT,0.455621,NaN,0.603800,NaN,0.590879,NaN,0.602339,NaN,0.488676,0.543993,0.374044,NaN,1.000000,NaN
MEDV,NaN,0.360445,NaN,NaN,NaN,0.695360,NaN,NaN,NaN,NaN,NaN,0.333461,NaN,1.000000

In [20]:
x = df['RM'].to_numpy()

In [24]:
x_train,x_test,y_train,y_test = train_test_split(x.reshape(-1,1),y.reshape(-1,1),random_state=42)

In [25]:
lr.fit(x_train,y_train)

LinearRegression()

In [26]:
# overfilt  학습용데이터의 검증값과 테스용 데이터의 검증값의 차이가 나는데.. 학습 hight  테스트용 low
# 0.1이상 차이나면 의심.. 
# ex 0.95, 0.85
lr.score(x_train,y_train), lr.score(x_test,y_test)

(0.504827127700064, 0.38952758463985193)

In [29]:
from sklearn.preprocessing import PolynomialFeatures

In [36]:
# 스케일링 빠졌음
poly = PolynomialFeatures(include_bias=False)
poly.fit(x.reshape(-1,1))
x_poly = poly.transform(x.reshape(-1,1))
x_train,x_test,y_train,y_test = train_test_split(x_poly,y.reshape(-1,1),random_state=42)
lr.fit(x_train,y_train)
lr.score(x_train,y_train), lr.score(x_test,y_test)

(0.5532406397937806, 0.5150725731822279)

In [40]:
# 스케일링
import numpy as np
x = df.iloc[:,:-1].to_numpy()
m = np.mean(x,axis=0)
s = np.std(x, axis=0)
x = (x-m) / s

In [41]:
lr = LinearRegression()
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42)

In [42]:
lr.fit(x_train,y_train)
lr.score(x_train,y_train), lr.score(x_test,y_test)

(0.748087259862344, 0.6844267283527146)

In [44]:
# poly 적용
poly = PolynomialFeatures(include_bias=False)
poly.fit(x_train)
x_train_poly = poly.transform(x_train)
x_test_poly = poly.transform(x_test)

In [46]:
lr.fit(x_train_poly, y_train)
lr.score(x_train_poly, y_train),  lr.score(x_test_poly,y_test)

(0.9448331208874918, 0.7757819518826659)

In [75]:
temp = df.iloc[:,:-1]
temp.corr()[temp.corr()>0.65]
#  INDUS 2
#  ZN 1
#  RAD 8

temp.loc[:,['INDUS','ZN','RAD']]
from statsmodels.stats.outliers_influence import variance_inflation_factor 
x = temp.loc[:,['INDUS','ZN','RAD']]
vif = pd.DataFrame()
vif["Features"] = x.columns  # 독립 변수의 이름을 설정
vif["VIF Factor"] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]
print(vif)

  Features  VIF Factor
0    INDUS    3.390684
1       ZN    1.018878
2      RAD    3.402580

In [76]:
m = np.mean(x, axis=0)
s = np.std(x, axis=0)
x = (x-m) / s
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=True)
poly = PolynomialFeatures(include_bias=False)
poly.fit(x_train)
x_train_poly = poly.transform(x_train)
x_test_poly = poly.transform(x_test)
lr = LinearRegression()
lr.fit(x_train_poly,y_train)
lr.score(x_train_poly,y_train), lr.score(x_test_poly,y_test)

(0.3021027818789116, 0.2574769457463957)

In [47]:
# 피처 선택
# 선형관계를 파악 : 타겟과 피처들간의 관계
# 다중 공선성 확인 : 회귀분석에서 독립변수들간의 강한 선형관계가 존재하면 회귀 결과를 외곡, 신뢰성을 하락
  # 강한상관관계에 있는 변수들을 제거 , 표준화 
  # VIF(Variance Inflation Factor)  값이 10보다 큰 변수 제거

In [77]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 
x = df.iloc[:,:-1]
vif = pd.DataFrame()
vif["Features"] = x.columns  # 독립 변수의 이름을 설정
vif["VIF Factor"] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]
print(vif)

   Features  VIF Factor
0      CRIM    2.100373
1        ZN    2.844013
2     INDUS   14.485758
3      CHAS    1.152952
4       NOX   73.894947
5        RM   77.948283
6       AGE   21.386850
7       DIS   14.699652
8       RAD   15.167725
9       TAX   61.227274
10  PTRATIO   85.029547
11        B   20.104943
12    LSTAT   11.102025

In [78]:
temp = df.iloc[:,:-1]
temp = temp.loc[:,['INDUS','ZN','CHAS']]
x = temp.to_numpy()
m = np.mean(x, axis=0)
s = np.std(x, axis=0)
x = (x-m) / s
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=True)
poly = PolynomialFeatures(include_bias=False)
poly.fit(x_train)
x_train_poly = poly.transform(x_train)
x_test_poly = poly.transform(x_test)
lr = LinearRegression()
lr.fit(x_train_poly,y_train)
lr.score(x_train_poly,y_train), lr.score(x_test_poly,y_test)

(0.3418289555272902, 0.30276079872221895)

In [79]:
# 모델의 복잡도를 높인다...세밀한 측정.. 다차원으로 만드는게 좋은  성능을 보임