In [60]:
filepath = 'https://raw.githubusercontent.com/leekyuyoung20230313/pythone/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D/data/school_33.csv'

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv(filepath,sep=';')
df.head(2)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         648 non-null    object
 2   age         648 non-null    float64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    648 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: float64(1), int64(15), object(17)
memory usage: 167.4+ KB

In [5]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [6]:
# null 이 몇개 없으니. nul을 포함한 row는 출력해서 다른데이터와의 관계를 살펴보기

In [10]:
df[df.isnull().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11

In [12]:
# 결측치 채우기(범주형 데이터, 수치형 데이터)
df.columns[df.isnull().sum()>0]

Index(['sex', 'age', 'guardian'], dtype='object')

In [13]:
# object 최빈값으로 채우고 수치형은 중위수로 채운다

In [14]:
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())
df['age'] = df['age'].fillna(df['age'].median())

In [16]:
# 확인
df.columns[df.isnull().sum()>0]

Index([], dtype='object')

In [17]:
# 범주형 데이터는 학습 Label / one hot 인코딩

범주형 데이터만 추출

In [18]:
label_df =  df.select_dtypes(include = ['object']) 
label_df.head()

,school,sex,address,famsize,Pstatus,Mjob,Fjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,GP,F,U,GT3,A,at_home,teacher,course,mother,yes,no,no,no,yes,yes,no,no
1,GP,F,U,GT3,T,at_home,other,course,father,no,yes,no,no,no,yes,yes,no
2,GP,F,U,LE3,T,at_home,other,other,mother,yes,no,no,no,yes,yes,yes,no
3,GP,F,U,GT3,T,health,services,home,mother,no,yes,no,yes,yes,yes,yes,yes
4,GP,F,U,GT3,T,other,other,home,father,no,yes,no,no,yes,yes,no,no

one-hot 범주형 데이터 처리

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [29]:
ohe=  OneHotEncoder()
ohe.fit_transform(df[['school']] ).toarray()

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [32]:
pd.get_dummies(df['school']), pd.get_dummies(df[['school']])

(     GP  MS
 0     1   0
 1     1   0
 2     1   0
 3     1   0
 4     1   0
 ..   ..  ..
 644   0   1
 645   0   1
 646   0   1
 647   0   1
 648   0   1

 [649 rows x 2 columns],
      school_GP  school_MS
 0            1          0
 1            1          0
 2            1          0
 3            1          0
 4            1          0
 ..         ...        ...
 644          0          1
 645          0          1
 646          0          1
 647          0          1
 648          0          1

 [649 rows x 2 columns])

In [43]:
# 사이킷 런의 onehot을 이용해서 범주형 데이터를 전부 인코딩
label_df =  df.select_dtypes(include = ['object'])
ohe=  OneHotEncoder()
temp = ohe.fit_transform(label_df ).toarray()

In [46]:
temp.shape, label_df.shape, df.shape

((649, 43), (649, 17), (649, 33))

In [47]:
# 원본데이터 - 결측치처리 - 원핫인코딩 - 수치형데이터 결합

In [49]:
# 파이프라인을적용해서 데이터셋을 만든 과정을 작성

In [50]:
from sklearn.pipeline import Pipeline
# fit과 transform을 구현

In [91]:
# 결측치 처리 함수 : 범주형은 최빈값, 수치형은 중위수
from sklearn.base import TransformerMixin
class CustomFillNa(TransformerMixin):
  def __init__(self):
    None
  def fit(self,x,y=None):
    return self
  def transform(self,x,y=None):
    labels = x.select_dtypes(include = ['object']).columns
    for col in x.columns.tolist():
      if col in labels:
        x[col] = x[col].fillna(x[col].mode())
      else:
        x[col] = x[col].fillna(x[col].median())
    return x

In [132]:
# 범주형 데이터를 one hot으로 변경하는 클래스
class CustomOneHot(TransformerMixin):
  def __init__(self):
    self.ohe = OneHotEncoder()
  def fit(self,x,y=None):    
    x = pd.DataFrame(x)
    label_df =  x.select_dtypes(include = ['object'])    
    self.ohe.fit(label_df)
    return self
  def transform(self,x,y=None):    
    label_df =  x.select_dtypes(include = ['object'])        
    oneHot = self.ohe.transform(label_df).toarray()
    normalData = x[x.select_dtypes(exclude = ['object']).columns].values
    return np.concatenate( ( oneHot, normalData), axis=1 )

In [120]:
pl = Pipeline(
    [('customfillna',  CustomFillNa()),
     ('onehot', CustomOneHot())
    ]
)

In [121]:
df = pd.read_csv(filepath,sep=';')
df.columns[df.isnull().sum()>0]

Index(['sex', 'age', 'guardian'], dtype='object')

In [123]:
pl.fit_transform(df).shape

(649, 59)

In [118]:
df[df.select_dtypes(exclude = ['object']).columns].values

array([[18.,  4.,  4., ...,  0., 11., 11.],
       [17.,  1.,  1., ...,  9., 11., 11.],
       [15.,  1.,  1., ..., 12., 13., 12.],
       ...,
       [18.,  1.,  1., ..., 11., 12.,  9.],
       [17.,  3.,  1., ..., 10., 10., 10.],
       [18.,  3.,  2., ..., 10., 11., 11.]])

원본데이터를 가지고 분할한다음  파이프라인에 적용하면 전처리가 된 데이터를 획득

In [124]:
df = pd.read_csv(filepath,sep=';')

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
df.head(2)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11

In [127]:
x = df.iloc[:,:-3]
y = df.iloc[:,-1]

In [128]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=100)

In [133]:
pl = Pipeline(
    [('customfillna',  CustomFillNa()),
     ('onehot', CustomOneHot())
    ]
)

In [136]:
x_train_scaled =  pl.fit_transform(x_train)
x_train_scaled.shape, y_train.shape

((486, 56), (486,))