In [ ]:
def func1(data):
  return data + func2(data+1)
def func2(data):
  return data + func3(data+1)
def func3(data):
  return data

print(func1(1))

In [ ]:
def func(data):
  if data == 3:
    return data
  return data + func(data+1)

In [3]:
# 2장의 1번
def price(su=0,dan=0):
  return su*dan

def func1(x):
  return 2.5*(x**2) + 3.3*x + 6

def calcKal(fat,carbohytdrate, protein):
  return fat*9 + carbohytdrate*4 + protein*4

def firstWord(word1,word2,word3):
  return word1[0].upper() +word2[0].upper()+word3[0].upper()

In [5]:
def myFunc(x):
  if x >=10:
    return 10000

In [8]:
x = int(input("수하물의 무게를 입력하세요:"))
y = myFunc(x)
if y != None:
  print("수수료는:",y)
else:
  print("수수료는 없습니다.")

수하물의 무게를 입력하세요:12
수수료는: 10000

In [ ]:
def myFunc2(x):
  return (x // 10) * 10000

In [9]:
# 1과 100사이의 3의 배수 이면서 2의 배수면 안된다...
hap = 0
for x in range(1,101):
  if (x % 3 == 0) and (x % 2 != 0):
    print(x,end=' ')
    hap += x
print()
print("누적합:",hap)

3 9 15 21 27 33 39 45 51 57 63 69 75 81 87 93 99
누적합: 867

In [11]:
result = [ x for x in range(1,101) if (x % 3 == 0) and (x % 2 != 0) ]
for i in result:
  print(i,end=' ')
print()  
print("누적합:",sum(result))

3 9 15 21 27 33 39 45 51 57 63 69 75 81 87 93 99
누적합: 867

In [12]:
str_data = '''안녕하세요 파이썬 세계로 오신걸
환영합니다.
파이썬은 비단뱀 처럼 매력적인 언어입니다.'''

In [13]:
print(str_data)

안녕하세요 파이썬 세계로 오신걸
환영합니다.
파이썬은 비단뱀 처럼 매력적인 언어입니다.

In [16]:
list_1 = str_data.split()
for i in list_1:
  print(i)
print("단어개수:",len( list_1 ))

안녕하세요
파이썬
세계로
오신걸
환영합니다.
파이썬은
비단뱀
처럼
매력적인
언어입니다.
단어개수: 10

In [22]:
mydata = '''스위스에서 오셔서 산새들이 속삭이는 산림 숲속에서 숫사슴을 샅샅이 수색해 식사하고 산 속 샘물로 세수하며 사는 삼십 삼살 샴쌍둥이 미세스 스미스씨와 미스터 심슨씨는 삼성 설립 사장의 회사 자산 상속자인 사촌의 사돈 김상속씨의 숫기있고 숭글숭글한 숫색시 삼성소속 식산업 종사자 김삼순씨를 만나서 삼성 수산물 운송수송 수색 실장에게 스위스에서 숫사슴을 샅샅이 수색했던 것을 인정받아 스위스 수산물 운송 수송 과정에서 상해 삭힌 냄새가 나는 수산물을 수색해내는 삼성 소속 수산물 운송수송 수색 사원이 되서 살신성인으로 쉴새없이 수색하다 산성수에 손이 산화되어 수술실에서 수술하게 됐는데 쉽사리 수술이 잘 안돼서 심신에 좋은 산삼을 달여 슈르릅 들이켰더니 힘이 샘솟아 다시 몸사려 수색하다 삼성 소속 식산업 종사자 김삼순씨와 셋이서 삼삼오오 삼월 삼십 삼일 세시 삼십 삼분 삼십 삼초에 쉰 세살 김식사씨네 시내 스시식당에 식사하러 가서 싱싱한 샥스핀 스시와 삼색샤시참치스시를 살사소스와 슥슥삭삭 샅샅이 비빈 것과 스위스산 소세지를 샤샤샥 싹쓸어 입속에 쑤쎠넣어 살며시 삼키고 스산한 새벽 세시 삼십 삼분 삼십 삼초에 산림 숲속으로 사라졌다.'''

In [35]:
# hint dictionary의 특징을 잘 활용해서 각 단어의 빈도수를 구해라 
list1 = mydata.split()
dic1 = {}
for i in list1:
  if i not in dic1.keys():  # 키가 없으면 키를 등록한다.
    dic1[i] = 1
  else:   
    dic1[i] += 1          # 해당 키에대해 값을 증가한다.

In [48]:
sorted_keys = sorted(dic1,key=dic1.get, reverse=True)
{ i:dic1[i] for i in sorted_keys[:5]}

{'삼십': 6, '삼성': 4, '샅샅이': 3, '수산물': 3, '스위스에서': 2}

In [ ]:
# 단어를 카운트했으면.... 2개이상 반복된 문장들만 추출