- 람다함수
- 맵리듀스

In [1]:
# 람다함수는 이름없이 사용하는 함수 -> 익명 함수

In [10]:
def calc(f,x,y):
  return f(x,y)

In [11]:
calc(lambda x,y : x**2+y**2, 10,20)

500

In [12]:
calc(lambda x,y : x**2 / y, 5,2)

12.5

In [15]:
f = lambda msg : f"안녕하세요, {msg}님! 반갑습니다."

In [16]:
f('이규영')

'안녕하세요, 이규영님! 반갑습니다.'

In [17]:
f = lambda x,y: x+y
f(10,20)

30

In [18]:
f = lambda x,y: x**y
f(10,2)

100

In [19]:
f = lambda x,y: x**y / 2
f(10,2)

50.0

In [20]:
f = lambda x,y: x**y // 2
f(10,2)

50

In [21]:
f = lambda *args : sum(args)
f(10,2,2,5,1,5,4,1,5,4)

39

In [22]:
# 임의의 리스트를만든다
import random
list1 = [ random.randrange(100)  for i in range(5)]
list1

[45, 42, 26, 91, 9]

In [23]:
# 임의의 딕셔너리
list1 = [ random.randrange(100)  for i in range(5)]
list2 = [ random.randrange(100)  for i in range(5)]
dic1 = dict(zip(list1,list2))
dic1

{53: 85, 32: 12, 94: 78, 42: 25}

In [29]:
sorted(dic1.items(), key =lambda x : x[1],reverse=True  )

[(53, 85), (94, 78), (42, 25), (32, 12)]

필터 : 집합에서 특정 조건을 만족하는 것만 골라냄

In [31]:
list1

[53, 32, 94, 42, 42]

In [33]:
list(filter(lambda x: x>=50, list1))

[53, 94]

In [35]:
list(filter(lambda x : x%2==0, list1))

[32, 94, 42, 42]

In [36]:
# 람다 , 필터

:맵리듀스(MapReduce) : 빅데이터처리 알고리즘으로도 많이 사용
  - map
  - reduce

In [38]:
# map : 연속형 자료에서 각 데이터에 적용할 함수를 사용하는 함수
list1 = [random.randrange(20)  for i in range(10)]
list1

[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]

In [ ]:
# 시퀀스형데이터 = [1,2,3]
# [ i+1 for i  in 시퀀스형데이터  ]   
# [1+1]
# [1+1,2+1]
# [1+1,2+1,3+1]
#[2,3,4]

In [44]:
list(map(lambda x: x**2  , list1))
# --> 리스트 컴프리핸션
[i**2  for i in list1 ]

[144, 225, 225, 100, 225, 256, 324, 49, 324, 0]

In [45]:
list(filter(lambda x : x%2==0, list1))
# --> 리스트 컴프리 핸션
[i for i in list1 if i%2==0]

[12, 10, 16, 18, 18, 0]

In [46]:
# 트랜드의 변화가 감지되고 있음....
# 최근에는 map 과 filter를 사용하지 않는 경향이 있음 ---> 리스트 컴프리핸션으로 대체 가능

In [54]:
print(list1)
print(list1)
print("*"*40)
list(map(lambda x,y: x+y  ,list1,list1 ))

[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]
[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]
****************************************

[24, 30, 30, 20, 30, 32, 36, 14, 36, 0]

In [58]:
print(list1)
print(list1)
print("*"*40)
list(map(lambda x,y: x+y  ,list1,list1 ))

[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]
[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]
****************************************

[24, 30, 30, 20, 30, 32, 36, 14, 36, 0]

In [59]:
print(list1)
print(list1)
print("*"*40)
[x+y for x,y in zip(list1,list1)]

[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]
[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]
****************************************

[24, 30, 30, 20, 30, 32, 36, 14, 36, 0]

In [ ]:
# reduce는 map과 비슷하지만 다르다
# 시퀀스 자료형에 순서대로 함수를 적용애서 모든 값을 통합
# list(map(lambda x,y: x+y, list1))

In [61]:
list1

[12, 15, 15, 10, 15, 16, 18, 7, 18, 0]

In [63]:
from functools import reduce

In [64]:
reduce(lambda x,y: x+y, list1)

126