In [1]:
colors = ['red','green','blue','yellow']
# redgrrenblueyello
result = ""
for i in colors:
  result += i
result

'redgreenblueyellow'

In [4]:
''.join(colors)

'redgreenblueyellow'

In [8]:
# 리스트 컴프리핸션
result = []
for i in range(10):
  if i % 2 ==0:
    result.append(i)

# 리스트 컴프리핸션
result = [ i for i in range(10)  if i % 2 == 0]
result

[0, 2, 4, 6, 8]

In [9]:
result = []
for i in range(10):
  if i % 2 ==0:
    result.append(0)
  else:
    result.append(1)
# 리스트 컴프리핸션    
result = [0 if i % 2 == 0 else 1 for i in range(10 )]
result

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [10]:
result = []
for i in range(10):
   result.append(i*2)
# 리스트 컴프리핸션      
result = [ i*2 for i in range(10)]	
result

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
for idx,value in enumerate(result):
  print(idx,value)

In [12]:
list1 = [i for i in range(5)]
list2 = [i for i in range(5)][::-1]

In [17]:
dict(zip(list1,list2))

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [24]:
for a,(b,c) in enumerate(zip(list1,list2)):
  print(a,b,c)

0 0 4
1 1 3
2 2 2
3 3 1
4 4 0

In [25]:
for a,b in enumerate(zip(list1,list2)):
  print(a,b)

0 (0, 4)
1 (1, 3)
2 (2, 2)
3 (3, 1)
4 (4, 0)

리스트 컴프리핸션, zip, enumerate

In [26]:
import random
list1 = [random.randrange(100) for i in range(10)]
list2 = [random.randrange(100) for i in range(10)]

In [27]:
# 두 리스트에서 각 쌍이 짝수인 값들만 뽑아서 짝수끼리 묶어서 출력
list1, list2

([11, 76, 5, 74, 99, 41, 28, 91, 86, 73],
 [11, 52, 2, 53, 85, 93, 73, 7, 74, 49])

In [29]:
result = []
for a,b in zip(list1,list2):
  if a %2==0 and b %2 ==0:
    result.append((a,b))

In [31]:
[ (a,b) for a,b in zip(list1,list2) if a %2==0 and b %2 ==0 ]

[(76, 52), (86, 74)]

In [35]:
list1.index(5)

2

In [36]:
list1

[11, 76, 5, 74, 99, 41, 28, 91, 86, 73]

In [38]:
# list1.index(5) 를 사용하지 않고 구현해 보기
# 리스트에서 첫번째로 일치하는 값에 대한 인덱스를 반환하는 함수를 만들어서 사용해 보기
for i in range(len(list1)):
  if 5 == list1[i]:
    print(i)

2

In [39]:
for idx,i in enumerate(list1):
  if 5 == i:
    print(idx)

2